html,body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -45px;
    padding: 0 0 50px;
}

#footer {
    padding-top: 10px;
    height: 45px;
    border-top: 1px solid #C0C0C0;
}
