/* Stylesheet for the biblio_main.html template */

#bibliography-tab {
    background: white;
}

#project-content {
    padding-left: 0.5em;
}


input[type=text] {
    min-width: 20em;
}

.button1 {
    font-size: 0.9em;
    margin-top: 1em;
}

.error {
    margin-top: 0.5em;
}