/* Stylesheet for the biblio_main.html template */

.bibliography-tab {
    background: white;
}

#items-wrapper {
    box-shadow: 0em 0.1em 0.3em #C0C0C0;
}

.i-description-link {
    float: right;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.item + .item {
    border-top: 1px solid #C0C0C0;
}

.i-head {
    background: #E0E0E0;
}

.i-head a {
    color: black;
}

.i-head:hover, .i-head:hover a {
    background: #E8E8E8;
    color: black;
}

.i-title {
    display: block;
    padding: 0.3em;
}

.i-title:hover {
    text-decoration: none;
}

.i-info {
    overflow: hidden;
    max-height: 0;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.i-comments {
    display: block;
    float: left;
    width: 4em;
    font-size: 0.8em;
    color: black;
}

.i-comments::before {
    content: url("/static/icons/16x16/page_white_text.png");
}

.i-authors {
    padding-top: 0.8em;
    padding-left: 1em;
}

.i-date {
    padding-left: 1em;
}

.i-author:after {
    content: ", ";
}

.i-author:last-child:after {
    content: "";
}

.i-link {
    padding-left: 1em;
}