#bibliography-tab {
    background: white;
}

#comment-head {
    background: #F0F0F0;
    padding: 0.5em;
}

#comment-date {
    float: right;
    color: #555555;
}

#item-title a {
    font-style: italic;
    color: black;
    font-size: 1.2em;
}

#comment-content {
    padding-left: 1em;
    padding-right: 1em;
}