/* Stylesheet for the biblio_main.html template */

.bibliography-tab {
    background: white;
}

input[type=text] {
    min-width: 20em;
}

input[type=submit] {
    margin-top: 1em;
}

.error {
    margin-top: 0.5em;
}