/* Stylesheet for the biblio_main.html template */

.bibliography-tab {
    background: white;
}

.items-wrapper {
    box-shadow: 0em 0.1em 0.3em #C0C0C0;
}

.item a {
    color: black;
    display: block;
    background: #F0F0F0;
    padding: 0.5em;

}

.item a:hover {
    background: #FCFCFC;
    text-decoration: none;
}

.item .metadata {
    display: none;
}

.item + .item {
    border-top: 1px solid #C0C0C0;
}