/* Overview of proejcts inside the projects tab */

h2 {
    padding-left: 1.5em;
    padding-top: 0.3em;
}

.code-tab {
    background: white;
}

.c-wrapper {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    padding-bottom: 0.5em;
    box-shadow: 0em 0.1em 0.3em #C0C0C0;
}

.c-name a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #DDE8EB;
    background-image: linear-gradient(#F8FBFC, #CFDEE2);
    background-image: -webkit-linear-gradient(#F8FBFC, #CFDEE2);
    background-repeat: repeat-x;
}

.c-name a:hover {
    text-decoration: none;
    background-color: DDE8EB;
    background-image: linear-gradient(#FCFCF8, #F1EEB9);
    background-image: -webkit-linear-gradient(#FCFCF8, #F1EEB9);
    background-repeat: repeat-x;
}

.c-last-updated {
    position: relative;
    float: right;
    margin-top: 0.2em;
    margin-right: 0.2em;
    margin-left: 0.5em;
    font-size: 0.8em;
    color: #888888;
    height: 3em;
}

.c-description {
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

.c-owner {
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.c-owner a {
    color: black;
}

.c-link {
    font-size: 0.9em;
    fint-weight: normal;
    margin-left: 1.5em;
    margin-top: 0.5em;
}
