/* Stylesheet for the dataset_revision_edit.html template */

.dr-navbar .dr-revisions-tab {
    background: #D0B1B1;
}

.dr-navbar .dr-new-tab:hover {
    background: #D0B1B1;
}

.dv-content {
    margin-top: 2em;
    margin-left: 2em;
}

textarea {
    width: 80%;
    height: 20em;
    padding: 0.5em;
}

.an-input {
    margin-top: 0.5em;
}

.help {
    font-size: 0.9em;
    margin-left: 2em;
}

input[type=file] {
    width: 60em;
}

.warning {
    font-size: 0.9em;
    margin-top: 0.5em;
}

.preview-subtitle {
    margin-left: 0.8em;
    font-size: 0.8em;
    color: #777777;
}

#previewArea {
    margin: 1%;
    padding: 0.5em;

    width: 80%;
    resize: both;
    overflow: auto;
    border: 1px solid #AAAAAA;
}