/* Stylesheet for the datasets_view.html template */


.datasets-tab{
    background: white;
}

h2 {
    padding-left: 1.5em;
    padding-top: 0.3em;
}

.data-concept .name a {
    display: block;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 2em;
    color: #380000;
    overflow: auto;
}

.data-concept .name a:hover {
    text-decoration: none;
    background: #FEF9D9;
    color: #A30000;
}

.data-concept:nth-of-type(odd) {
    background: #FED9D9;
}

.data-concept:nth-of-type(even) {
    background: #F2C7C7;
}

.last-updated {
    position: relative;
    float: right;
    padding-top: 0.8em;
    margin-right: 1em;
    text-align: right;
    font-size: 0.9em;
    color: #555555;
}

.info-link {
    position: relative;
    float: right;
    padding-top: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}

.description {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -o-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.info-link:focus + .name + .description {
    opacity: 1;
    height: auto;
    overflow: auto;
}
