/* Stylesheet for the dataset_concept_view.html template */

#dr-navbar #dr-info-tab {
    background: #D0B1B1;
}

#dr-navbar #dr-info-tab:hover {
    background: #D0B1B1;
}

h3 {
    margin-left: 10%;
}

form, form * {
    width: 95%;
    margin-left: 2%;
    font-size: 1em;
}

input[type=text] {
    padding: 0.3em;
}

textarea {
    min-height: 20em;
    padding: 0.5em;
}

.button1 {
    width: 8em;
    float: left;
    margin-bottom: 1em;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.error {
    margin-top: 4em;
    margin-left: 2%;
    margin-bottom: 1em;
}