/* Stylesheet for the dataset_concept_view.html template */

.dr-navbar .dr-revisions-tab {
    background: #D0B1B1;
}

.dr-navbar .dr-revisions-tab:hover {
    background: #D0B1B1;
}

.p-content {
    min-width: 60em;
}

.meta {
    display: none;
}

.revisions-wrapper {
    position: relative;
    float: left;
    width: 33em;
}

.revision {
    padding-top: 0.5em;
    height: 2em;
}

.revision:nth-of-type(even) {
    background: #DDDDDD;
}

.revision:nth-of-type(odd) {
    background: #F0F0F0;
}

.date {
    position: relative;
    float: left;
    margin-left: 0.5em;
    width: 5em;
}

.author {
    position: relative;
    float: left;
    width: 16em;
    overflow: auto;
    text-align: center;
    overflow: hidden;
}

.author a {
    font-weight: normal;
}

.datafile {
    position: relative;
    float: left;
    width: 5em;
    text-align: center;
}

.info-link {
    position: relative;
    float: left;
    text-align: right;
    margin-right: 1em;
    width: 5em;
}

.info-link a {
    font-weight: normal;
}

.meta-window {
    text-align: justify;
    margin-right: 0.5%;
    margin-top: 0.2em;
    box-shadow: 0.1em 0.1em 0.3em #C0C0C0;
    padding: 0.3em;
    overflow: auto;
}

.button1 a {
    margin-top: 0.1em;
    margin-right: 0.1em;
}