/* Stylesheet for the form_text_textarea.html template */

input[type=text] {
    width: 90%;
    min-width: 30em;
    padding: 0.2em;
    font-size: 1.1em;
}

textarea {
    width: 90%;
    margin-top: 1em;
    height: 30em;
    padding: 0.4em;
}

.bottom-buttons {
    margin-top: 1em;
    font-size: 1.2em;
    margin-right: 0.5em;
}