/* Stylesheet for the forum_main.html template */

.forum-tab {
    background: white;
}

.f-thread {
    margin-left: 2em;
    margin-right: 2em;
    height: 3em;
    padding-top: 0.5em;
    padding-left: 1em;
    background-image: linear-gradient(#E8E8DB, #F6F6F0);
    background-image: -webkit-linear-gradient(#E8E8DB, #F6F6F0);
    background-repeat: repeat-x;
}

.f-thread:hover {
    background:#F5F5DA;
}

.f-thread:hover .f-title a {
    color: #B57364;
}

.f-date {
    position: relative;
    float: right;
    margin-right: 1em;
    font-size: 0.9em;
    color: #888888;
}

.f-title a {
    color: #4B2921;
}

.f-author {
    margin-top: 0.2em;
}

.f-author a {
    color: black;
    font-weight: normal;
}