.events-row {
    border-bottom: 1px solid #EEEEEE;
    padding: 10px 0;
}

.event-date {
    font-weight: bold;
}

.bibitem:nth-child(even) > .panel-heading,
.bibitem:nth-child(even) > .bibitem-body
{
    background: rgb(245,245,245);
}
    