/* Style for a single knowledge item */

.item {
    margin-top: 1em;
    border: 1px solid black;
    background: white;
    box-shadow: 0.1em 0.1em 0.2em #808080;
}

.item .item-title {
    padding-top: 1em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
}

.kind {
    position: relative;
    float: right;
    padding: 1em;
    background: #DDDDDD;
    bottom-left-radius: 0.5em;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom-left-radius: 0.5em;
}

.arXiv-item .kind {
    color: #630101;
}

.article-item .kind {
    color: #435E57;
}

.item .item-date {
    padding: 1em;
}

.item .authors-list {
    padding-left: 1em;
}

.item .authors-list li {
    list-style: none;
    display: block;
    position: relative;
    float: left;
    padding-right: 1em;
}

.item .item-abstract {
    padding: 1em;
}

.item .identifier {
    padding-bottom: 1em;
    padding-left: 1em;
}

.item .identifier a {
    font-weight: normal;
}

.item .journal {
    padding: 1em;
}

.comments h3 {
    padding-top: 1.5em;
    font-size: 1.4em;
    padding-bottom: 1em;
}

.add_delete_button {
    padding-top: 1em;
    padding-left: 0.5em;
}

.edit_link {
    padding-top: 1em;
    padding-right: 1em;
    position: relative;
    float: right;
}

.edit_link a {
    color: #A67739;
}