/* Style for the display of a user's library */

.sidebar {
    position: relative;
    float: right;
    width: 18%;
    border: 1px solid #aaaaaa;
    text-align: center;
    background: #FAFAFA;
    min-height: 20em;
}

.sidebar li {
    list-style: none;
    font-size: 0.9em;
}

.sidebar h3 {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: #1B3D8A;
}

.items-wrapper {
    width: 80%
}

.item {
    border: 1px solid black;
    background: white;
}

.item + .item {
    margin-top: 0.5em;
}

.item .tags {
    padding-left: 0.5em;
    padding-bottom: 1.2em;
    font-size: 0.8em;
}

.item .item-title {
    padding: 0.5em;
    background: white;
}

.item .item-title a {
    font-weight: bold;
    font-size: 1em;
    color: #1B3D8A;
}

.item-published {
    position: relative;
    float: right;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.2em;
}

.item .authors-list {
    padding-bottom: 0.7em;
    padding-left: 0.5em;
}

.item-published a {
    font-weight: normal;
    color: black;
}

.article-item .item-published a {
    color: #435E57;
}

.arXiv-item .item-published a {
    color: #630101;
}

.item .delete-button {
    position: relative;
    float: right;
    padding-right: 1em;
}
