/* Stylesheet for the login.html template */

#page-content {
    background: white;
    box-shadow: 0em 0.1em 0.5em #C0C0C0;
    padding: 0.5em 1em 1em 1em;
    margin-top: 1em;
}

.button1 {
    font-size: 0.9em;
}

.error, .info {
    margin-top: 1em;
}