/* Stylesheet for the notebook_main.html template */

.notebooks-tab {
    background: white;
}

.p-content {
    padding: 0;
}

.nb-heading {
    padding-top: 0.5em;
    padding-bottom: 1em;
    background-color: #DDE8EB;
    background-image: linear-gradient(#F8FBFC, #CFDEE2);
    background-image: -webkit-linear-gradient(#F8FBFC, #CFDEE2);
    background-repeat: repeat-x;
}

.nb-name {
    margin-left: 1em;
    margin-top: 0.2em;
    font-size: 1.5em;
    font-weight: bold;
}

.note-head a {
    color: black;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#F8FBFC, #DDDDDD);
    background-image: -webkit-linear-gradient(#F8FBFC, #CFDEE2);
    background-repeat: repeat-x;
    border-top: 1px solid #AAAAAA;
}

.note-head a:hover {
    text-decoration: none;
    background-color: DDE8EB;
    background-image: linear-gradient(#FCFCF8, #F1EEB9);
    background-image: -webkit-linear-gradient(#FCFCF8, #F1EEB9);
    background-repeat: repeat-x;
}

.note-title {
    font-size: 1.2em;
    font-weight: bold;
}

.note-date {
    position: relative;
    float: right;
    color: #888888;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.note-content {
    padding-top: 0.7em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

#browse-pages-links {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    overflow: auto;
    border-top: 2px solid #AAAAAA;
    background: #F0F0F0;
}

#next-link {
    float: right;
}