/* Style for the notebooks related pages */

/* For the main notebooks page */

.notebook {
    border: 1px solid black;
    background: white;
}

.notebook + .notebook {
    margin-top: 1em;
}

.notebook .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    padding-top: 0.4em;
    padding-right: 0.4em;
    color: #777777;
}

.notebook .name {
    padding: 0.5em;
}

.notebook .short-description {
    padding: 0.5em;
}

/* For the rendering of a single notebook */

.notebook-full .notebook-details{
    position: relative;
    float: right;
    width: 70%;
    border: 1px solid black;
    background: white;
    width: 70%;
    margin-left: 2em;
}

.notebook-full h2 {
    width: 30%;
}

.notebook-full h2 a {
    font-size: 0.5em;
}

.notebook-full .dates {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #55555;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.notebook-full .description {
    margin: 0.5em;
}

.notes-wrapper {
    padding-top: 2em;
}

.new-note-link {
    font-size: 0.8em;
}

.go-back-link {
    margin-bottom: 0.5em;
}

.go-back-link a {
    font-size: 0.8em;


}