/* Stylesheet for the notebook_main.html template */

.notebooks-tab {
    background: white;
}

.p-content {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0em;
}

.nb-heading {
    height: 3em;
    padding-top: 0.5em;
    background-color: #DDE8EB;
    background-image: linear-gradient(#F8FBFC, #CFDEE2);
    background-image: -webkit-linear-gradient(#F8FBFC, #CFDEE2);
    background-repeat: repeat-x;
}

h2 {
    margin-left: 1em;
    margin-top: 0.2em;
}

.note {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    box-shadow: 0em 0.1em 0.5em #C0C0C0;
    border-radius: 1em;
}

.note-head a {
    color: black;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#F8FBFC, #DDDDDD);
    background-image: -webkit-linear-gradient(#F8FBFC, #CFDEE2);
    background-repeat: repeat-x;
    border-radius: 1em 1em 0 0;
}

.note-head a:hover {
    text-decoration: none;
    background-color: DDE8EB;
    background-image: linear-gradient(#FCFCF8, #F1EEB9);
    background-image: -webkit-linear-gradient(#FCFCF8, #F1EEB9);
    background-repeat: repeat-x;
}

.note-title {
    font-size: 1.2em;
    font-weight: bold;
}

.note-date {
    position: relative;
    float: right;
    color: #888888;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.note-content {
    padding-top: 0.7em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}