/* About the diplay of a single note in a notebook */

.note {
    background: white;
    border: 1px solid black;
    border-radius: 0.5em;
}

.note .date {
    position: relative;
    float: right;
    color: #777777;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-right: 1em;
}

.note .title {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid black;
    background: #EBF1FF;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.note .note-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.return-link {
    padding-top: 1em;
}

.edit-link {
    position: relative;
    float: right;
    padding-top: 1em;
    padding-right: 1em;
}

.edit-link a {
    color: #A67739;
}
