/* Overview of proejcts inside the projects tab */


.notebooks-tab {
    background: white;
}

#n-wrapper {
    box-shadow: 0em 0.1em 0.3em #C0C0C0;
}

.n-description-link {
    float: right;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.notebook + .notebook {
    border-top: 1px solid #C0C0C0;
}

.n-head {
    background: #CFDEE2;
}

.n-head:hover, .n-head:hover a {
    background: #DAEBEF;
}

.n-title {
    display: block;
    padding: 0.3em;
}

.n-title:hover {
    text-decoration: none;
}

.n-info {
    overflow: hidden;
    max-height: 0;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.n-description {
    padding: 0.6em;
}

.n-last-updated {
    float: right;
    color: #555555;
    font-size: 0.8em;
    padding: 0.5em;
}

.n-owner {
    font-style: italic;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

.n-notes {
    display: block;
    float: left;
    width: 4em;
    font-size: 0.8em;
    color: black;
}

.n-notes::before {
    content: url("/static/icons/16x16/page_white_text.png");
}