/* Style for the notebooks related pages */

/* For the main notebooks page */

.notebook {
    border: 1px solid black;
    background: white;
}

.notebook + .notebook {
    margin-top: 1em;
}

.notebook .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    padding-top: 0.4em;
    padding-right: 0.4em;
    color: #777777;
}

.notebook .name {
    padding: 0.5em;
}

.notebook .short-description {
    padding: 0.5em;
}

/* For the rendering of a single notebook */

.notebook-full {
    overflow: auto;
}

.notebook-full .notebook-details{
    position: relative;
    float: right;
    width: 70%;
    border: 1px solid black;
    background: white;
    margin-left: 2em;
    overflow: auto;
}

.notebook-full h2 {
    width: 30%;
}

.notebook-full h2 a {
    font-size: 0.5em;
}

.notebook-full .dates {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #55555;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.notebook-full .description {
    margin: 0.5em;
    height: 12em;
}

.go-back-link {
    margin-bottom: 0.5em;
}

.go-back-link a {
    font-size: 0.8em;
}

.notes-wrapper {
    margin-top: 2em;
    width: 80%;
}

.new-note-link {
    font-size: 1.2em;
}

.note {
    border: 1px solid black;
    margin-top: 1em;
    border-radius: 0.5em;
    background: white;
}

.note > * {
    padding: 0.5em;
}

.note .date {
    position: relative;
    float: right;
    color: #777777;
    font-size: 0.9em;
}

.note .title {
    border-bottom: 1px solid black;
    background: #9BB3EA;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
    

.note .title a {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

.note .note-content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.note .note-content p {
    line-height: 200%;
}


.navigation-menu {
    border: 1px solid black;
    position: relative;
    float: right;
    width: 17%;
    margin-top: 4em;
    background: white;
    padding: 0.5em;
    min-height: 10em;
    text-align: center;
    background: #EBF1FF;
}