/* Related to the projects tab */

.project {
    border: 1px solid black;
    background: white;
}

.project + .project {
    margin-top: 1em;
}

.project .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    padding-top: 0.4em;
    padding-right: 0.4em;
    color: #777777;
}

.project .name {
    padding: 0.5em;
}

.project .short-description {
    padding: 0.5em;
}

.project .authors {
    padding-left: 0.5em;
    font-size: 0.9em;
    color: #555555;
}
    
.project li {
    list-style: none;
}

/* for a single project page */

.project-full {
    border: 1px solid black;
    background: white;
}

.project-full .dates {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #555555;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.project-full .name {
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

.project-full .description {
    padding-left: 5em;
    padding-right: 5em;
}

.project-full .authors {
    padding: 1em;
}

.project-full .authors li {
    list-style: none;
}

.edit-link {
    position: relative;
    float: right;
    padding-top: 0.8em;
}

.activity {
    width: 48%;
    position: relative;
    float: right;
    margin-top: 1.5em;
    padding: 0.5em;
    border: 1px solid black;
    background: white;
    min-height: 32.5em;
}

.references {
    width: 48%;
    margin-top: 1.5em;
    padding: 0.5em;
    border: 1px solid black;
    background: white;
    min-height: 15em;
}

.references .new-reference-link {
    position: relative;
    float: right;
    padding-top: 0.2em;
    padding-right: 0.5em;
}

.notebooks {
    width: 48%;
    margin-top: 1.5em;
    padding: 0.5em;
    border: 1px solid black;
    background: white;
    min-height: 15em;
}

.notebooks .new-notebook-link {
    position: relative;
    float: right;
    padding-top: 0.2em;
    padding-right: 0.5em;
}

.edit-link {
    padding-top: 1em;
    padding-right: 1em;
    position: relative;
    float: right;
}

.edit-link a {
    color: #A67739;
}

/* for the edit project page */


.project-edit form {
    margin-bottom: 2em;
}

.project-edit .error {
    margin-top: 1em;
}

.project-edit table {
    width: 100%;
}

.project-edit .label {
    width: 7em;
}