/* Overview of proejcts inside the projects tab */

.admin-tab {
    background: white;
}

input[type=submit] {
    margin-top: 1em;
    margin-bottom: 1em;
}

textarea {
    margin-top: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    width: 70%;
    padding: 0.5em;
    height: 20em;
}

.button1 {
    margin-top: 1em;
    float: left;
}

.help {
    font-size: 0.9em;
    margin-top: 0.4em;
}