/* Overview of proejcts inside the projects tab */

#admin-tab {
    background: white;
}

#project-content {
    padding: 0 0.5em 0.5em 1em;
}

#save-button {
    font-size: 0.9em;
}

input[type=submit] {
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=text] {
    width: 70%;
    padding: 0.5em;
    font-size: 1em;
    font-family: serif, sans-serif;
}

textarea {
    margin-top: 0.5em;
    font-size: 1em;
    font-family: serif, sans-serif;
    width: 70%;
    padding: 0.5em;
    height: 20em;
}

#help {
    font-size: 0.9em;
    margin-top: 0.4em;
}

.bottom-buttons {
    float: left;
    width: 10em;
    font-size: 0.9em;
    margin-right: 0.5em;
    margin-top: 1em;
}

#authors-list {
    overflow: auto;
}

.p-author {
    float: left;
    margin-right: 1em;
}

.p-author img {
    border-radius: 0.2em;
}