/* Related to the projects tab */

h2 {
    padding-bottom: 0;
}

.new-project-link {
    text-align: right;
    border-bottom: 2px solid black;
    margin-bottom: 0.5em;
}

.project {
    border: 1px solid black;
    background: white;
    margin-top: 1em;
}

.project .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    padding-top: 0.4em;
    padding-right: 0.4em;
    color: #777777;
}

.project .name {
    padding: 0.5em;
}

.project .short-description {
    padding: 0.5em;
}

.project .authors a {
    padding-left: 0.5em;
    font-size: 0.9em;
    color: #555555;
}
    
.project li {
    list-style: none;
}

.project-full {
    overflow: auto;
    padding-bottom: 1em;
}

.project-full .authors .label {
    font-style: italic;
}

.project-full .authors a {
    color: black;
    font-size: 0.9em;
}

.project-full .authors li {
    position: relative;
    float: left;
    padding-right: 1em;
}

/* Notebooks in the full project view */

.notebooks {
    width: 49%;
    margin-top: 1.5em;
    border: 1px solid black;
    background: white;
    min-height: 5em;
}

.notebooks > * {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.notebooks h3 {
    padding: 0.3em;
    border-bottom: 1px solid #AAAAAA;
}

.notebooks .new-notebook-link {
    position: relative;
    float: right;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.notebooks .notebook {
    border-top: 1px solid #C0B9D3;
}

.notebooks .notebook:hover {
    background: #FFDF9F;
}

.notebook:nth-of-type(even) {
    background: #E8E0FF;
}

.notebooks .notebook .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #777777;
    padding: 0.4em;
}

/* Collaborative writings in the full project view */

.writings {
    width: 49%;
    margin-top: 1.5em;
    border: 1px solid black;
    background: white;
    min-height: 5em;
}

.writings > * {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.writings h3 {
    padding: 0.3em;
    border-bottom: 1px solid #AAAAAA;
}

.writings .new-writing-link {
    position: relative;
    float: right;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.writings .writing {
    border-top: 1px solid #C0B9D3;
}

.writings .writing:hover {
    background: #FFDF9F;
}

.writing:nth-of-type(even) {
    background: #E8E0FF;
}

.writings .writing .date {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #777777;
    padding: 0.4em;
}

/* References in the full project view */

.references {
    width: 49%;
    margin-top: 1.5em;
    border: 1px solid black;
    background: white;
    min-height: 5em;
}

.references h3 {
    padding: 0.3em;
    border-bottom: 1px solid #AAAAAA;
}

.references .new-reference-link {
    position: relative;
    float: right;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.references .reference {
    font-size: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-top: 1px solid #CED3E0;
}

.references .reference:hover {
    background: #FFDF9F;
}

.references .reference-title a {
    color: black;
}

.references .reference-published a {
    font-size: 0.9em;
}

.references .author_list {
    width: 70%;
}

.references > * {
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.reference:nth-of-type(even) {
    background: #EBF1FF;
}

/* Recent activity in the full project view */

.activity {
    width: 49%;
    position: relative;
    float: right;
    margin-top: 1.5em;
    border: 1px solid black;
    background: white;
    min-height: 32.5em;
}

.activity > * {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.activity h3 {
    padding: 0.3em;
    border-bottom: 1px solid #AAAAAA;
}

/* for a single project page */

.project-full {
    border: 1px solid black;
    background: white;
}

.project-full .dates {
    position: relative;
    float: right;
    font-size: 0.8em;
    color: #555555;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

.project-full .name {
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

.project-full .description {
    height: 10em;
    padding-left: 5em;
    padding-right: 5em;
    overflow: auto;
}

.project-full .authors {
    padding: 1em;
}

.project-full .authors li {
    list-style: none;
}


.return-link {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
}

.return-link a {
    font-size: 0.9em;
}


.edit-link {
    margin-top: 0.6em;
    padding-right: 1em;
    position: relative;
    float: right;
}

.edit-link a {
    color: #A67739;
    font-size: 0.9em;
}


/* for the edit project page */


.project-edit form {
    margin-bottom: 2em;
}

.project-edit .error {
    margin-top: 1em;
}

.project-edit table {
    width: 100%;
}

.project-edit .label {
    width: 7em;
}