/* General layout for each project */

/* menu */

.p-menu-wrapper {
    position: absolute;
    float: left;
    width: 10em;
    overflow: hidden;
    display: block
}

.p-menu-wrapper * {
    margin: 0px;
    padding: 0px;
}

.p-menu {
    padding-top: 4em;
}

.p-menu ul {
    margin-bottom: 1em;
}

.p-menu li {
    list-style: none;
    height: 2.5em;
    font-size: 1em;
    margin-left: 1em;
    background: #EAEAEA;
    border-left: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
}

.p-menu li:first-child {
    border-top: 1px solid #AAAAAA;
}

.p-menu li:hover {
    background: #F8F8F8;
}

.p-menu li a {
    height: 2em;
    padding-top: 0.5em;
    display: block;
    text-align: center;
    color: #444444;
}

.p-menu li a:hover {
    text-decoration: none;
    color: #648A9E;
}

/* Tables */

table {
    border-collapse: collapse; 
}

td, th { 
    border: 1px solid #CCCCCC; 
}

/* Other */

.p-content {
    margin-left: 10em;
    margin-right: 1em;
    margin-top: 1em;
    padding: 1em;
    background: white;
    min-height: 40em;
    box-shadow: 0em 0.1em 0.2em #C0C0C0;
    overflow: auto
}

.p-title-bar {
    margin-top: 1em;
    margin-left: 10em;
    font-size: 1.1em;
}
