/* Editing a specific knowledge item */

.item {
    font-family: Helvetica, Arial, sans-serif;
}

.item .label {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
}

.item input[type=text] {
    width: 40em;
    font-size: 1em;
}

.item textarea {
    width: 40em;
    height: 15em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.item .comment {
    font-weight: normal;
    font-size: 0.7em;
}

.update_button {
    padding-left: 10em;
    padding-top: 1em;
}