/* for the display of a single revision */

.revision-details {
    background: white;
    border: 1px solid black;
}

.revision-details > * {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.revision-details h3 {
    border-bottom: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.revision-details .date {
    padding-top: 0.5em;
}

.revision-details .summary {
    padding-bottom: 0.5em;
}

.return-link {
    padding-top: 1em;
    padding-bottom: 1em;
}

.revision-content {
    background: white;
    border: 1px solid black;
    padding: 1em;
}


.revision-content p {
    line-height: 200%;
}