/* For the welcome page (i.e. the root page) */

#page-content {
    background: white;
    box-shadow: 0 0.1em 0.2em #C0C0C0;
    overflow: auto;
    margin-top: 1em;
}


/* Your projects section */

#projects-wrapper {
    width: 25em;
    position:relative;
    float: right;
    margin: 1em 0.5em 0 0;
    border: 1px solid #C0C0C0;
    border-radius: 0.5em 0.5em 0 0;
}

#projects-wrapper h2 {
    text-align: center;
    margin: 0;
    padding: 0.3em 0;
    background: #F5F5F5;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 1px solid #C0C0C0;
    font-size: 1.3em;
}

#new-project-link {
    float: right;
    height: 0.1em;
}

#new-project-link > img {
    height: 1.5em;
    padding-top: 0.3em;
    padding-right: 0.3em;
}

.project a,
#no-projects {
    display: block;
    padding: 0.3em;
}

.project + .project {
    border-top: 1px solid #C0C0C0;
}


/* Recent activity section */

#activity-wrapper {
    width: 40em;
    margin-left: 1em;
}


