/* For the search_for_user page */

table {
    width: 80%;
    margin-top: 1em;
}

input[type=text] {
    height: 2em;
    min-width: 25%;
}

.label {
    width: 5em;
}

.submit-button {
    padding-top: 1em;
    padding-left: 5em;
}

.error {
    padding-top: 1em;
}