table {
    width: 30em;
}

input[type=text] { 
    width: 70%; 
    font-size: 1em; 
    font-family: Helvetica, Arial, sans-serif;
}

textarea {
    font-size: 1em;
    width: 70%;
    height: 15em;
}

input[type=password] { 
    width: 70%;
    font-size: 1em; 
    font-family: Helvetica, Arial, sans-serif;}

.submit-button {
    padding-left: 10em;
    padding-top: 0.5em;
}
