* {
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway;
}

.page-intro {
	text-align: center;
	background: url('/static/stars.png');
	background-attachment: fixed;
	margin-bottom: 0;
	border-bottom: 5px solid #566;
}

.page-intro.small-margins {
	padding: 24px 0;
}

.page-intro h1, .page-intro h2 {
	margin-top: 0;
}

.page-intro .title {
	font-family: 'Titillium Web', sans-serif;
	color: #eee;	
}

.page-intro .sub-title {
	font-family: Raleway, sans-serif;
	color: #ccc;
}

.page-intro .actions .btn {
	margin-right: 2px;
	margin-left: 2px;
	border-color: #ccc !important;
}

.page-intro .icon-btn {
	cursor: pointer;
	color: #eee;
}

.page-intro .icon-btn:hover, .page-intro .icon-btn:active, .page-intro .icon-btn:focus {
	color: #566;
}

.btn {
	border-radius: 0;
	background: #566;
	color: #eee;
	font-family: Roboto, sans-serif;
	border-color: #333;
}

.btn.btn-grey {
	background: #555;
}

.btn:hover, .btn:active, .btn:focus {
	background: #666;
	color: #eee;
	border-color: #333;
}

.page-heading {
	background: url('/static/stars.png');
	background-attachment: fixed;
	text-align: center;
	color: #f0f0f0;
	padding: 10px 0;
	margin: 15px 0;
	font-family: Raleway;
}

.page-heading h2 {
	margin: 0;
}

.form-horizontal .form-control {
	border-radius: 0;
}

.form-horizontal .form-control:focus {
	border-color: #566;
	box-shadow: 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(85, 102, 102, 0.6);
}

#overview {
	border-bottom: 5px solid #566;
	padding: 30px 0;
	font-family: Roboto, sans-serif;
}

#overview p {
	margin-bottom: 0;
}

#features {
	font-family: Roboto, sans-serif;
	padding-top: 10px;
	padding-bottom: 20px;
	background: #f0f0f0;
}

#features h2 {
	font-family: Raleway;
	font-size: 1.8em;
}

#features h2 .glyphicon {
	margin-bottom: 10px;
	font-size: 2.2em;
}

#footer {
	font-family: Roboto, sans-serif;
}
