/* Stylesheet for the user.html template */

#page-content {
    margin-top: 2em;
    min-height: 33em;
    background: white;
    box-shadow: 0 0.1em 0.3em #C0C0C0;
    padding: 1em 0.5em 5em 1em;
}

#user-info-section {
    position: relative;
    float: right;
    width: 40%;
    text-align: center;
}

#user-name {
    text-align: center;
    font-size: 2.2em;
}

#user-about {
    max-height: 20em;
    overflow: auto;
    text-align: justify;
    padding-right: 0.5em;
}

#projects-wrapper {
    box-shadow: 0 0.1em 0.3em #C0C0C0;
    border-radius: 0.5em 0.5em 0 0;
    width: 55%;
    border: 1px solid #C0C0C0;
}

#projects-head {
    padding-left: 1em;
    padding-top: 0.5em;
}

#new-project-button {
    width: 8em;
    float: right;
    margin: 0.5em 1em 0 0;
}

#new-project-button > img {
    height: 0.9em;
}

#user-edit {
    width: 6em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.u-project {
    border-top: 1px solid #C0C0C0;
}

.name a {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #F0F0F0;
    color: black;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
}

.name a:hover {
    text-decoration: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #AAAAAA);
    background-image: -webkit-linear-gradient(#FFFFFF, #CAAAAAA);
    background-repeat: repeat-x;
}


.info-link {
    position: relative;
    float: right;
    padding-top: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}

.description {
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-height: 0;
    overflow: hidden;
    -o-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.u-pupdated {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #888888
}