/* Stylesheet for the wiki_view.html template */

#w-navbar #w-view-tab {
    background: white;
    border-bottom: none;
}


#w-title {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #AAAAAA;
}

#w-content {
    margin: 1em;
}