/* Stylesheet for the wiki_view.html template */

.w-navbar .w-history-tab {
    background: white;
    border-bottom: none;
}


.w-title {
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.rev-meta {
    margin-left: 2em;
    font-size: 0.8em;
    color: #666666;
}

.w-content {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}