/* Stylesheet for the wiki_history.html template */

#w-navbar #w-history-tab {
    background: white;
    border-bottom: none;
}

#w-title {
    padding-left: 1em;
    padding-bottom: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #AAAAAA;
}

.rev-meta {
    position: relative;
    float: right;
    padding-top: 0.5em;
    margin-right: 1em;
    text-align: right;
}

.rev-date {
    font-size: 0.9em;
    color: #555555;
}

.rev-summary a {
    display: block;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #303B30;
}

.rev-summary a:hover {
    text-decoration: none;
    background: #DFE9F8;
}

.revision:nth-of-type(even) {
    background: #E6E8EC;
}

.revision:nth-of-type(odd) {
    background: #F0F2F6;
}