/* Stylesheet for the wiki_base.html template */

.wiki-tab {
    background: white;
}

.p-content {
    padding: 0;
}

.w-navbar {
    overflow: auto;
    background: white;
}

.w-navbar a {
    display: block;
    position: relative;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    font-weight: normal;
    font-size: 0.9em;
    background: #DDDDDD;
    color: black;
    border-left: 1px solid black;
    border-bottom: 1px solid black; 
}

.toc {
    background: #F0F0F0;
    border: 1px solid #CCCCCC;
    width: 50%
}