/* Stylesheet for the writings_discussion.html template */

.w-navbar .w-discussion-tab {
    background-image: linear-gradient(#C6E0C7, #BCCFBD);
    background-image: -webkit-linear-gradient(#C6E0C7, #BCCFBD);
    background-repeat: repeat-x;
}

textarea {
    width: 93%;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0.5em;
    height: 7em;
    font-size: 1em;
}

.button1 {
    margin-left: 5%;
    margin-top: 0.5em;
    font-size: 0.9em;
}

.comments-wrapper {
    margin-top: 2em;
}

.comment {
    min-height: 4em;
}

.comment + .comment {
    border-top: 2px solid #A7C1A8;
}

.comment:nth-of-type(even) {
    background: #F0F8F6;
}

.comment:nth-of-type(odd) {
    background: #F0F8F0;
}

.c-meta {
    padding: 0.5em;
}

.c-date {
    font-size: 0.9em;
    color: #555555;
}

.c-content {
    text-align: justify;
    padding: 1em;
}

.error {
    padding-left: 5%;
    margin-top: 1em;
}

.help {
    position: relative;
    float: right;
    font-size: 0.9em;
    margin-right: 5%;
}