/* Stylesheet for the writings_history.html template */

.w-navbar .w-history-tab {
    background-image: linear-gradient(#C6E0C7, #BCCFBD);
    background-image: -webkit-linear-gradient(#C6E0C7, #BCCFBD);
    background-repeat: repeat-x;
}

.rev-meta {
    position: relative;
    float: right;
    padding-top: 0.5em;
    margin-right: 1em;
    text-align: right;
}

.rev-date {
    font-size: 0.9em;
    color: #555555;
}

.rev-summary a {
    display: block;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #303B30;
}

.rev-summary a:hover {
    text-decoration: none;
    background: #F2F8DF;
}

.revision:nth-of-type(even) {
    background: #E6ECE6;
}

.revision:nth-of-type(odd) {
    background: #F0F6F0;
}