/* Stylesheet for the writings_view.html template */

.w-navbar .w-current-revision-tab {
    background-image: linear-gradient(#C6E0C7, #BCCFBD);
    background-image: -webkit-linear-gradient(#C6E0C7, #BCCFBD);
    background-repeat: repeat-x;
}

.w-content {
    padding-left: 1.5em;
    padding-right: 1.5em;
}