<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head></head>
  <body>
    <p>We received a password reset request for this email. If you made such request, please click the link below to set a new password for your account.</p>
    <p><a href="{{reset_link | safe}}">{{reset_link | safe}}</a></p>
    <p>If you didn't make such request, please ignore this email with our appologies.</p>
    <p><em>Research Engine admin team <a href="mailto:{{ADMIN_EMAIL}}">{{ADMIN_EMAIL}}</a></em></p>
  </body>
</html>
