<p><span class="date">{{revision.date.strftime("%d-%b-%Y %H:%M")}} (server time)</span>. Project: <a href="{{project_absolute_link}}">{{project.name}}</a>:</p>
<p><a href="{{author_absolute_link}}">{{author.username.capitalize()}}</a> made a <a href="{{revision_absolute_link}}">revision</a> of the collaborative writing
  <a href="{{writing_absolute_link}}">{{writing.title}}</a></p>
<div class="content">{% if revision.summary %}Summary of changes: {{revision.summary}}{% else %}No summary of changes provided{% endif %}</div>
