<div class="article-item">

  <div class="kind">
    <p>Published Article</p>
  </div>
  
  <div class="item-title">
    <p><b>Title: </b>{{item.title}}</p>
  </div>
  
  <div class="item-date">
    <p><b>Published:</b> {{item.year}}</p>
  </div>

  <div class="authors-list">
    <p><b>Authors:</b></p>
    <ul>
      {% for author in item.authors %}
        <li>{{author}}</li>
      {% endfor %}
    </ul>
  </div>
  <br/>

  <div class="item-abstract">
    <p><b>Abstract: </b>{{item.abstract}}</p>
  </div>

  <div class="journal">
    <p><b>Reference: </b><a href="{{item.link}}"><em>{{item.journal}}</em> <b>{{item.volume}}</b>, {{item.page}}</a></p>
  </div>

  <div class="identifier">
    <p><b>DOI: </b>{{item.item_id}}</p>
  </div>

</div>
