<div class="article-reference">

  <div class="kind">
    <p>Published Article</p>
  </div>
  
  <div class="reference-title">
    <p><b>Title: </b>{{reference.title}}</p>
  </div>
  
  <div class="reference-date">
    <p><b>Published:</b> {{reference.year}}</p>
  </div>

  <div class="authors-list">
    <p><b>Authors:</b></p>
    <ul>
      {% for author in reference.authors %}
        <li>{{author}}</li>
      {% endfor %}
    </ul>
  </div>
  <br/>

  <div class="reference-abstract">
    <p><b>Abstract: </b>{{reference.abstract}}</p>
  </div>

  <div class="journal">
    <p><b>Reference: </b><a href="{{reference.link}}"><em>{{reference.journal}}</em> <b>{{reference.volume}}</b>, {{reference.page}}</a></p>
  </div>

  <div class="identifier">
    <p><b>DOI: </b>{{reference.item_id}}</p>
  </div>

</div>
