<form method="post" action="/library/item/edit/{{item.key()}}">
  <table>

    <tr>
      <td class="label">
	DOI:
      </td>
      <td>
	{{item.item_id}}
      </td>
    </tr>

    <tr>
      <td class="label">
	Title:
      </td>
      <td>
	<input type="text" name="title" value="{{item.title}}" />
      </td>
      <td class="error">
	{{title_error}}
      </td>
    </tr>

    <tr>
      <td class="label">
	Authors:
	<br/><div class="comment">Separated by semicolons</div>
      </td>
      <td>
	<input type="text" name="authors_string" value="{{authors_string}}" />
      </td>
      <td class="error">
	{{authors_error}}
      </td>
    </tr>

    <tr>
      <td class="label">
	Year:
      </td>
      <td>
	<input type="text" name="year" value="{{item.year}}" />
      </td>
    </tr>

    <tr>
      <td class="label">
	Issue:
      </td>
      <td>
	<input type="text" name="issue" value="{{item.issue}}" />
      </td>
    </tr>

    <tr>
      <td class="label">
	Volume:
      </td>
      <td>
	<input type="text" name="volume" value="{{item.volume}}" />
      </td>
    </tr>

    <tr>
      <td class="label">
	Page:
      </td>
      <td>
	<input type="text" name="page" value="{{item.page}}" />
      </td>
    </tr>

    <tr>
      <td class="label">
	Abstract:
      </td>
      <td>
	<textarea name="abstract">{{item.abstract}}</textarea>
      </td>
    </tr>

    <tr>
      <td class="label">
	Link:
      </td>
      <td>
	<input type="text" name="link" value="{{item.link}}" />
      </td>
    </tr>
  </table>

  <div class="update_button">
    <input type="submit" value="Update" />
  </div>
</form>
