<div class="item"><div class="article-item">
  
  <div class="item-title">
    <a href="/library/item/{{item.key()}}">{{item.title}}</a>
  </div>
  
  <div class="item-published">
    <a href="{{item.link}}"><em>{{item.abbrev_journal}}</em> <b>{{item.volume}}</b>, {{item.page}}</a>
  </div>

  <div class="item-date">
    {{item.year}}
  </div>

  <div class="authors-list">
    <ul>
      {% for author in item.authors %}
        <li>{{author}}</li>
      {% endfor %}
    </ul>
  </div>
</div></div>
