<div class="arXiv-item">
  
  <div class="item-title">
    <p>{{item.title}}</p>
  </div>
  
  <div class="item-published">
    <a href="{{item.link}}"><em>arXiv, {{item.item_id}}</em></a>
  </div>

  <div class="item-date">
    <p><b>Published: </b> {{item.date.year}}-{{item.date.month}}-{{item.date.day}}</p>
  </div>

  <div class="authors-list">
    <ul>
      {% for author in item.authors %}
        <li>{{author}}</li>
      {% endfor %}
    </ul>
  </div>
  <br/>

  <div class="item-abstract">
    <p><b>Abstract: </b>{{item.abstract}}</p>
  </div>

  <div class="identifier">
    <b>ID:</b> <a href="{{item.link}}">{{item.item_id}}</a>
  </div>

</div>
