<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Research Engine</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="page">
      <div id="header">
        <h1><a href="/">Research Engine</a></h1>
      </div>

      <div id="login_area">
        <p>{{login_message | safe}}</p>
      </div>

      <div id="menu">
	<ul>
	  <li><a href="/news">News</a></li>
	  <li><a href="/notebook">Notebook</a></li>
	  <li><a href="/reviews">Reviews</a></li>
	  <li><a href="/classroom">Classroom</a></li>
	  <li><a href="/wiki">Wiki</a></li>
	  <li><a href="/collaborators">Collaborators</a></li>
	  <li><a href="/settings">Settings</a></li>
	</ul>
      </div>

      <div id="main">	
        <div id="sidebar">
          <h2>Sidebar :D</h2>
	  <p> some elements will be here</p>
	  <p> However I have none at the moment.</p>
	  {% block sidebar %}
	  {% endblock %}
        </div>
 
        <div id="content">
	  {% block content %}
	  {% endblock %}          
        </div>

      </div>
    </div>
  </body>
</html>
