<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="/css/general.css" rel="stylesheet" type="text/css" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
  <div class="wrapper">


<!-- MENU  -->
    <div class="menu-wrapper">
    <ul class="menu">

      <li><a href="/news">News</a></li>

      <li><a href="/projects">Projects</a>
	<ul>
	  <li><a href="/projects/recent_activity">Recent activity</a></li>
	  <li><a href="/notebooks">Notebooks</a></li>
	  <li><a href="/projects/new">New project</a></li>
	</ul>
      </li>
      <li><a href="/user/contacts">Contacts</a></li>
      <li><a href="/classroom">Classroom</a></li>

      <li>{{login_message | safe}}</li>
    </ul>
    </div>
    

<!-- CONTENT -->    
    <div class="content">      
      {% block content %}
      {% endblock %}          
    </div>


<!-- FOOTER -->
    <div class="footer">
      <img class="app-engine-image" 
	   src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif"
	   alt="Powered by Google App Engine" />
      <p><b>Research Engine</b> (alpha)</p>
      <p>You can find the source code for this project at its <a title="Contributions, testings and bug reports are welcome!" href="https://github.com/andresgsaravia/research-engine">github repository</a> under a <a title="Please make sure you understand this license before using this project's source code." href="http://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3 license.</a></p>
    </div>
    
  </div>
  </body>
</html>
