<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="/css/base.css" rel="stylesheet" type="text/css" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div id="all-wrapper">

      <!-- MENU  -->
      <ul id="top-menu">
	<!-- <li><a href="/">Notifications</a></li> -->
	<li><a href="/">Home</a></li>
	{% if user %}<li><a href="/{{user.username}}">Projects</a>
	  <ul>
	    {% for p in user.list_of_projects()[:3] %}
	    <li><a href="/{{p.key.integer_id()}}">{{p.name[:30]}}</a></li>
	    {% endfor %}
	    <li><a href="/{{user.username}}"><em>More...</em></a></li>
	  </ul>
	</li>{% endif %}
	<!-- <li><a href="/classroom">Classroom</a></li> -->
	<!-- <li><a href="/blog">Blog</a></li> -->
	<li>{{login_message | safe}}</li>
      </ul>
      

      <!-- FOOTER -->
      <div id="footer">
	<img id="footer-app-engine-image" 
	     src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif"
	     alt="Powered by Google App Engine" />
	<p><b>{{APP_NAME}}</b> (alpha)</p>
	<p>You can find the source code for this project at its <a title="Contributions, testings and bug reports are welcome!" href="{{APP_REPO}}">public repository</a> under a <a title="Please make sure you understand this license before using this project's source code." href="http://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3 license.</a></p>
      </div>
      

      <!-- CONTENT -->    
      <div id="page-content">      
	{% block content %}
	{% endblock %}          
      </div>
    
    </div>
  </body>
</html>
