{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/biblio_item.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="/js/showdown.js"></script>
  <script type="text/javascript" src="/js/preview.js"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ] ], processEscapes: true },
        TeX: {equationNumbers: {autoNumber: "AMS"} }
    });
  </script>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a>
/  <a href="/{{project.key.integer_id()}}/bibliography/{{item.key.integer_id()}}">{{item.title[:20]}}...</a> 
{% endblock %}


{% block p_content %}
<div id="item-info">
  <h2>{{item.title}}</h2>

  <div id="publication-data"><strong>{{item.metadata["publication"]}}</strong> ({{item.metadata["date"]}})</div>

  <div id="authors">{% for a in item.metadata["authors"] %}
    <span class="item-author">{{a}}</span>{% endfor %}</div>
  <div id="item-identifier">
    {% if item.kind == "article" %}doi:{% elif item.kind == "arXiv" %}arXiv id:{% endif %}
    <a id="item-external-link" href="http://dx.doi.org/{{item.identifier}}">{{item.identifier}}</a>
  </div>
</div>

<h3>Comments:</h3>

<div class="comments">
  {% if comments %}
  {% for c in comments %}
  <div class="comment">
    <div class="comment-head">
      <div class="comment-date">{{c.date.strftime("%d-%b-%Y")}}</div>
      <div class="comment-title">
	<a href="/{{project.key.integer_id()}}/bibliography/{{item.key.integer_id()}}/{{c.key.integer_id()}}">{{c.author.get().username.capitalize()}} commented:</a>
      </div>
    </div>
    <div class="comment-content">{{c.content | md | safe}}</div>
  </div>
  {% endfor %}
  {% else %}
  <div id="no-comments">No comments yet</div>
  {% endif %}
</div>
    
<form method="post">
  <textarea name="comment" id="inputText" 
	    placeholder="What do you think about this {% if item.kind=='article' %}article{% endif %}?"
	    {% if disabled_p %}disabled{% endif %}>{{content_value}}</textarea>
  <input type="submit" class="button1" value="Post comment" {% if disabled_p %}disabled{% endif %} />
  <div class="help">Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help.</div>
  <div class="error">{{error_message}}</div>
</form>
  <input type="button" class="button1" value="Render preview" onCLick="Preview('inputText', 'previewArea');">
  <div class="preview-subtitle">Below is a preview of how the page will be renderer when you save it. It may not be 100&#37; accurate but it should be close.</div>
  <div id="previewArea">Click the <em>Render preview</em> button to see a preview here.</div>
{% endblock %}
