{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/biblio_new.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var changeIdName = function () {
      var selectBox = document.getElementById("selectBox");
      var selectedValue = selectBox.options[selectBox.selectedIndex].value;
      var d = document.getElementById("inputId");
      if (selectedValue === "article") {
        d.placeholder = "Enter the DOI of the article";
      } else if (selectedValue === "arXiv") {
        d.placeholder = "Enter the arXiv id of the preprint";
      } else {
        d.placeholder = "";
      }
    };
  </script>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a>
{% endblock %}


{% block p_content %}
 
<h2>Bibliography</h2>
<h3>Add new</h3>

<form method="post">
  <table>
    <tr>
      <td>
	<select name="kind" id="selectBox" onChange="changeIdName();">
	  <option value="article">Published article</option>
	  <option value="arXiv" {% if kind=="arXiv" %}selected{% endif %}>arXiv preprint</option>
	</select>
      </td>
      <td>
	<input type="text" name="identifier" value="{{identifier}}" id="inputId"
	       placeholder="Enter the DOI of the article" autofocus 
	       {% if disabled_p %}disabled{% endif %}>
      </td>
    </tr>
  </table>
  
  <input type="submit" value="Search and add" class="button1">
</form>

<div class="error">{{error_message}}</div>

{% endblock %}
