{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/biblio_main.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a>
{% endblock %}


{% block p_content %}
 
<div class="button1"><a href="/{{project.key.integer_id()}}/bibliography/new_item">New entry</a></div>
<h2>Bibliography</h2>

{% for i in items %}
  <div class="item">
    <a class="title" href="/{{project.key.integer_id()}}/bibliography/{{i.key.integer_id()}}">{{i.title}}</a>
    <div class="metadata">
      {% for a in i.metadata["authors"] %}
      <span class="author">{{a[1]}}, {{a[0]}}</span>
      {% endfor %}
      <span class="year">({{i.metadata["year"]}})</span>
    </div>
  </div>
{% endfor %}

{% endblock %}
