{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/biblio_comment.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ], [ '\\(', '\\)' ] ], processEscapes: true },
        TeX: {equationNumbers: {autoNumber: "AMS"} }
    });
  </script>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a>
/  <a href="/{{project.key.integer_id()}}/bibliography/{{item.key.integer_id()}}">{{item.title[:20]}}...</a> 
/  <a href="/{{project.key.integer_id()}}/bibliography/{{item.key.integer_id()}}/{{comment.key.integer_id()}}">{{comment.key.integer_id()}}</a>
{% endblock %}


{% block p_content %}

<div id="comment">
  <div id="comment-head">
    <div id="comment-date">{{comment.date.strftime("%d-%b-%Y")}}</div>
    <div id="item-title"><a href="/{{project.key.integer_id()}}/bibliography/{{item.key.integer_id()}}">{{item.title}}</a></div>
    <div id="comment-author"><a href="/{{comment.author.get().username}}">{{comment.author.get().username.capitalize()}}</a> commented:</div>
  </div>
  <div id="comment-content">{{comment.content | md | safe}}</div>
</div>

{% endblock %}
