{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/project_list_page.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var toggleVisibility = function (item) {
      var infoDiv = item.parentElement.parentElement.getElementsByClassName('item-description')[0];
      if (item.innerHTML.trim() == 'Show description') {
        item.innerHTML = 'Hide description';
        infoDiv.style.maxHeight = '20em';
      } else {
        item.innerHTML = 'Show description';
        infoDiv.style.maxHeight = '0em';
      }
    };
  </script>
  <style type="text/css">
    .item-head {background: #E0E0E0;}
    .item-head a {color: black;}
    .item-head:hover, .item-head:hover a {background: #E8E8E8; color: black;}
    .bibliography-tab {background:white;}
    .item-authors {padding-top: 0.8em; padding-left: 1em;}
    .item-date {padding-left: 1em;}
    .item-author {font-style: italic}
    .item-author::after {content: ", ";}
    .item-author:last-child::after {content: ""}
    .item-source {padding-left: 1em;}
    .item-publication-kind {font-weight: bold;}
    .item-identifier {display: block;}
    .item-count::before {content: url("/static/icons/16x16/comment.png");}
  </style>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a>
{% endblock %}


{% block p_content %}
 
<div class="button1"><a href="/{{project.key.integer_id()}}/bibliography/new_item">New entry</a></div>
<h2>Bibliography</h2>

<div class="list-wrapper">
{% for i in items %}
  <div class="item">
    <div class="item-head">
      <a class="item-description-link" href="#" onClick="toggleVisibility(this);">Show description</a>
      <a class="item-title" href="/{{project.key.integer_id()}}/bibliography/{{i.key.integer_id()}}">
	<div class="item-count" title="Number of comments on this item"> {{i.get_number_of_comments()}}</div>
	{{i.title}}
      </a>
    </div>
    <div class="item-description">
      <div class="item-authors"> Authors:
	{% for a in i.metadata["authors"] %}
	<span class="item-author">{{a}}</span>
	{% endfor %}
      </div>
      <div class="item-source">
	{% if i.kind == "article" %} 
	<span class="item-publication-kind"> {{i.metadata["publication"]}}</span>
	<a class="item-identifier" href="{{i.link}}">doi:{{i.identifier}}</a>
	{% elif i.kind == "arXiv" %}
	<span class="item-publication-kind">arXiv</span>
	<a class="item-identifier" href="{{i.link}}">{{i.identifier}}</a>
	{% endif %}	
      </div>
      <div class="item-date">Date of publication: ({{i.metadata["date"]}})</div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
