{% extends "project_base.html" %}


{% block breadcrumbs %}<li class="active">Source code</li>{% endblock %}


{% block p_content %}
<!-- Help modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" arial-hidden="true">&times;</button>
	<h4 class="modal-title">Source Code</h4>
      </div>
      <div class="modal-body">
	<p>Many times making research means writing or using a lot of code. There are already many great services for hosting and managing source code like <a href="https://github.com">GitHub</a> or <a href="https://code.gogle.com">Google Code</a> so we don't provide any of those capabilities here. What those serviced don't provide is a place to discuss the applicability of a particular algorithm to a concrete research prblem.</p>
	<p>In this section you can add a link to a code already hosted on GitHub (we will integrate Google Code soon) and discuss it with your colleagues.</p>
	<p>This is one of the most underdeveloped sections of {{APP_NAME}} but in the near future we plan to incorporate here a way of using <a href="https://cloud.google.com/products/compute-engine">Google's Compute Engine</a> to run simulations and data analysis for your project.</p>
      </div>
    </div>
  </div>
</div>

<div class="page-header">
  <h2>Source Code
    {% if not visitor_p %}
    <a class="btn btn-success pull-right" href="/{{project.key.integer_id()}}/code/new">
      <span class="glyphicon glyphicon-plus"></span> New repository</a>
    {% endif %}
    <a class="btn btn-link pull-right" href="#helpModal" data-toggle="modal">
      <span class="glyphicon glyphicon-question-sign"></span></a>
  </h2>
</div>

<div class="panel-group" id="caccordion">
  {% for i in items %}
  {% if i.is_open_p() or (user and project.user_is_author(user)) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#caccordion" href="#{{i.key.integer_id()}}">
	  <span class="glyphicon glyphicon-info-sign"></span></a>
	<span class="badge pull-right" title="Number of comments about this code" style="margin-right:10px;">{{i.get_number_of_comments()}}</span>
	<a href="/{{project.key.integer_id()}}/code/{{i.key.integer_id()}}">
	  <small><span class="glyphicon glyphicon-eye-{% if i.is_open_p() %}open{% else %}close{% endif %}"
		       title="This source-code discussion is {% if not i.is_open_p() %}not {% endif %}publicly visible."></span></small>
	  {{i.name}}</a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="{{i.key.integer_id()}}">
      <div class="panel-body">
	{{i.description | md | safe}}
	<p class="text-muted pull-right">Last updated: {{i.last_updated.strftime("%d %b %Y")}}</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
