{% extends "project_base.html" %}


{% block p_head %}
  <script type="text/javascript" src="/js/showdown.js"></script>
  <script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}


{% block breadcrumbs %}<li><a href="/{{project.key.integer_id()}}/code">Source code</a></li><li class="active">{{code.name | truncate(40, True)}}</li>{% endblock %}


{% block p_content %}
 
<div class="panel panel-default">
  <div class="panel-heading" style="overflow:auto">
    {% if user and project.user_is_author(user) %}
    <a class="btn btn-link btn-edit btn-sm pull-right" href="/{{project.key.integer_id()}}/code/{{code.key.integer_id()}}/edit">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    {% endif %}
    <h3 id="main-content" class="panel-title">
      <small><span class="glyphicon glyphicon-eye-{% if code.is_open_p() %}open{% else %}close{% endif %}"
		   title="This source-code discussion is {% if not code.is_open_p() %}not {% endif %}publicly visible."></span></small>
      {{code.name}}
      <a href="#project-menu" class="skiptocontent">Skip to project menu</a></h3>
  </div>
  <div class="panel-body">
    {{code.description | md | safe}}
    <p class="text-muted pull-right">Last comment: {{code.last_updated.strftime("%d %b %Y")}}</p>
    <a href="{{code.link}}">External link</a>
  </div>
</div>

<h3 class="page-header">Comments <span class="badge">{{code.get_number_of_comments()}}</span></h3>

<div class="list-group">
  {% for c in comments %}
  <div class="list-group-item">
    {% if c.author == user.key %}
    <!-- Button trigger modal -->
    <button class="btn btn-link btn-edit btn-xs pull-right" data-toggle="modal" data-target="#{{c.key.integer_id()}}" title="Edit">
      <span class="glyphicon glyphicon-pencil"></span></button>
    <!-- Modal -->
    <div class="modal fade" id="{{c.key.integer_id()}}" tabindex="-1" role="dialog" aria-labelledby="{{c.key.integer_id()}}Label" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="{{c.key.integer_id()}}">Edit answer</h4>
	  </div>
	  <form method="post" role="form">
	    <div class="modal-body">
	      <div class="form-group">
		<textarea id="commentText" name="comment" class="form-control" rows="15">{{c.comment}}</textarea>
		<input type="hidden" name="comment_id" value="{{c.key.integer_id()}}" />
		<input type="hidden" name="action" value="edit_comment" />
	      </div>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
	    </div>
	  </form>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
    {{c.comment | md | safe}}
    <p class="text-muted pull-right">{{c.date.strftime("%d %b %Y")}}</p>
    <ul class="nav nav-pills">
      <li><a href="/{{c.author.get().username}}"><img src="{{c.author.get().get_profile_image(20)}}" aria-hidden="true"/> {{c.author.get().username.capitalize()}}</a></li>
    </ul>
  </div>
  {% endfor %}
</div>

{% if user and project.user_is_author(user) %}
<form method="post" role="form">
  <div class="form-group{% if error_message %} has-error{% endif %}">
    <label for="newCommentText">Your comment</label>
    <textarea name="comment" id="newCommentText" class="form-control" rows="10"
	      onKeyUp="Preview('newCommentText','previewArea');">{{comment_value}}</textarea>
  </div>
  <button type="submit" class="btn btn-success">Comment</button>
  <input type="hidden" name="action" value="new_comment" />
  <p class="text-danger">{{error_message}}</p>
  <div class="help-block">
    Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).
  </div>
</form>

<div>This is a preview of how the page will be renderer when you post it. It may not be 100&#37; accurate but it should be close.</div>
<div class="panel panel-default">
  <div class="panel-body" id="previewArea"><em>Start typing above to see the preview here.</em></div>
</div>
{% endif %}

{% endblock %}
