{% extends "project_base.html" %}


{% block p_head %}
  <link href="/css/forum_thread.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true }
    });
  </script>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{p_author.username}}/{{project.name}}/forum">Forum</a>
/  <a href="/{{p_author.username}}/{{project.name}}/forum/{{thread.key().id()}}">{{thread.title[0:30]}}...</a>
{% endblock %}


{% block p_content %}
 
<div class="thread">
  <div class="t-head">
    <div class="t-title">{{thread.title}}</div>
    <div class="t-date">{{thread.date.strftime("%d-%b-%Y")}}</div>
    <div class="t-author">by <a href="/{{thread.author.username}}">{{thread.author.username.capitalize()}}</a></div>
  </div>
  <div class="t-content">{{thread.content | md | safe}}</div>
</div>


{% for c in comments %}
<div class="t-comment">
  <div class="c-head">
    <div class="c-date">{{c.date.strftime("%d-%b-%Y")}}</div>
    <div class="c-author"><a href="/{{c.author.username}}">{{c.author.username.capitalize()}}</a></div>
  </div>
  <div class="c-comment">{{c.comment | md | safe}}</div>
</div>
{% endfor %}

<div class="comment-form">
  <form method="post">
    <textarea name="comment">{{comment_value}}</textarea>
    <input type="submit" value="Comment" />
  </form>
</div>

<div class="error">{{error_message}}</div>

<div class="help">
  <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
</div>

{% endblock %}
