{% extends "project_base.html" %}


{% block breadcrumbs %}<li class="active">Forum</li>{% endblock %}


{% block p_content %}

<div class="page-header">
  <h2>Forum
    {% if not visitor_p %}
    <a class="btn btn-success pull-right" href="/{{project.key.integer_id()}}/forum/new_thread">
      <span class="glyphicon glyphicon-plus"></span> New thread</a>
    {% endif %}
  </h2>
</div>

<div class="panel-group" id="taccordion">
  {% for i in items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a href="/{{project.key.integer_id()}}/forum/{{i.key.integer_id()}}">{{i.title | safe}}</a>
	<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#taccordion" href="#{{i.key.integer_id()}}">
	  <span class="glyphicon glyphicon-info-sign"></span></a>
	<span class="badge pull-right" title="Number of answers to this thread" style="margin-right:10px;">{{i.get_number_of_comments()}}</span>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="{{i.key.integer_id()}}">
      <div class="panel-body">
	{{i.content | md | safe }}
	<p class="text-muted pull-right">Last updated: {{i.last_updated.strftime("%d-%b-%Y")}}</p>
	<ul class="nav nav-pills">
	  <li><a href="/{{i.author.get().username}}"><img src="{{i.author.get().get_profile_image(20)}}" /> {{i.author.get().username.capitalize()}}</a></li>
	</ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
