{% extends "project_base.html" %}


{% block breadcrumbs %}<li class="active">Forum</li>{% endblock %}


{% block p_content %}

<div class="page-header">
  <h2 id="main-content">Forum
    <a href="#project-menu" class="skiptocontent">Skip to project menu</a>
    {% if not visitor_p %}
    <a class="btn btn-success pull-right" href="/{{project.key.integer_id()}}/forum/new_thread">
      <span class="glyphicon glyphicon-plus"></span> New thread</a>
    {% endif %}
    <a class="btn btn-link pull-right" href="#helpModal" data-toggle="modal">
      <span class="glyphicon glyphicon-question-sign"></span></a>
  </h2>
</div>

<!-- Help modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Forum</h4>
      </div>
      <div class="modal-body">
	<p>This section provides you with a simple <em>questions and answers</em> system which can be used to discuss ideas with your collaborators.</p>
	<p>You could also use this section to make announcements like a new "call for abstracts" for a conference or a new project grant.</p>
	<p>If the discussion revolves around a particular bibliography item, you might find more useful the <a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a> section.</p>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="taccordion">
  {% for i in items %}
  {% if i.is_open_p() or (user and project.user_is_author(user)) %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#taccordion" href="#{{i.key.integer_id()}}">
	  <span class="glyphicon glyphicon-info-sign"></span></a>
	<span class="badge pull-right" title="Number of answers to this thread" style="margin-right:10px;">{{i.get_number_of_comments()}}</span>
	<a href="/{{project.key.integer_id()}}/forum/{{i.key.integer_id()}}">
	  <small><span class="glyphicon glyphicon-eye-{% if i.is_open_p() %}open{% else %}close{% endif %}"
		       title="This forum thread is {% if not i.is_open_p() %}not {% endif %}publicly visible."></span></small>
	  {{i.title | safe}}</a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="{{i.key.integer_id()}}">
      <div class="panel-body">
	{{i.content | md | safe }}
	<p class="text-muted pull-right">Last updated: {{i.last_updated.strftime("%d %b %Y")}}</p>
	<ul class="nav nav-pills">
	  <li><a href="/{{i.author.get().username}}"><img src="{{i.author.get().get_profile_image(20)}}" aria-hidden="true"/> {{i.author.get().username.capitalize()}}</a></li>
	</ul>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
