{% extends "group_base.html" %}

{% block g_head %}
<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/ >
<script src="/js/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block g_content %}
<!-- Help modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Calendar</h4>
      </div>
      <div class="modal-body">
	<p>Here you can add events and tasks with due dates for all the group to see</p>
      </div>
    </div>
  </div>
</div>

<h2 class="project-tab-header">
  Calendar
  <a href="#group-menu" class="skiptocontent">Skip to group menu</a>
  <div class="actions">
    <a href="#helpModal" data-toggle="modal">
      <span class="fa fa-question-circle"></span>
    </a>
  </div>
</h2>

<h3>{{title}}</h3>
<form method="post" role="form">
  <div class="row">
    <div class="col-sm-4">
      <input type="text" class="form-control" id="datetimepicker" value="{{date}}"
	     name="date" placeholder="Click to choose"/>
    </div>
    <div class="col-sm-8">
      <textarea class="form-control" id="eventDescription" rows="10"
		name="description" placeholder="Description of the event">{{description}}</textarea>
    </div>
  </div>
  {% if notify_checkbox %}
  <label>
    <input type="checkbox" name="notify" checked /> Send a notification email with the changes
  </label><br />
  {% endif %}
  <button type="submit" class="btn btn-default">{{btn_text}}</button>
  {% if error_message %}<div style="margin-top:1em;" class="alert alert-danger" role="aler">{{error_message}}</div>{% endif %}
</form>

<script>
jQuery('#datetimepicker').datetimepicker({
  format:'d.m.Y H:i',
  inline:true,
  step:15
});
</script>
{% endblock %}
