<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/pygments.css" />
    <!-- Import Roboto, Raleway & Titillium Web from Google Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700|Titillium+Web|Raleway" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
      MathJax.Hub.Config({
      "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true },
      TeX: {equationNumbers: {autoNumber: "AMS"} }
      });
    </script>

    <title>{{title}}</title>
  </head>

  <body>
    {{content | safe}}
  </body>
</html>

