{% extends "base.html" %}

{% block head %}
<title>Research Engine | Your library</title>
<link href="/css/library_main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<h2>Your personal library</h2>

{% if not items %}
<p>You have nothing yet in your Library. Try <a href="/library/new">adding a new item</a>.</p>

{% else %}

<div class="sidebar">
  <h3>Tags:</h3>
  <ul>
    <li>Tag 1</li>
    <li>Tag 2</li>
    <li>Tag 3</li>
    <li>Tag 4</li>
  </ul>
</div>


<div class="items-wrapper">
{% for item in items %}
  <div class="item">
    {{item.item.short_render() | safe}}
    <div class="delete-button">
      <form method="post" action="/library">
	<input type="submit" value="Delete"/>
	<input type="hidden" name="item_key" value="{{item.item.key()}}"/>
      </form>
    </div>
    <div class="tags">
      <p><b>Tags: </b>
	{% for t in item.tags %}
          {{t}}, 
	{% endfor %}
      </p>
    </div>
    
  </div>
{% endfor %}
</div>

{% endif %}

{% endblock %}
