{% extends "base.html" %}

{% block head %}
<title>Research Engine | Login</title>
<link href="/css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h2>Login</h2>

  {% if user %}
  <p>Welcome back {{user.username.title()}}, you are already logged in</p>
  <p>If you are not {{user.username.title()}} you can <a href="/logout">Logout</a></p>

  {% else %}
  
  <form method="post">
    <table>
      
      <tr>
	<td>
	  Email or username
	</td>
	<td>
	  <input type="text" name="email_or_username" value="{{email_or_username}}" autofocus>
	</td>
      </tr>
      
      <tr>
	<td>
	  Password
	</td>
	<td>
	  <input type="password" name="password" value="">
	</td>
      </tr>
      
    </table>
    <div class="submit-button">
      <input type="submit" class="button1" value="Login">
    </div>
    <input type="hidden" name="goback" value="{{goback}}">
  </form>

<p>If you don't have an account you can <a href="/signup">signup</a> for free.</p>

<h3>Forgot your password?</h3>

<form method="post" action="/recover_password">
  <table>
    <tr>
      <td>Enter your email so we can send you a recovery link:</td>
      <td><input type="text" name="email" /></td>
    </tr>
  </table>
  <input type="hidden" name="action" value="send_email" />
  <input type="submit" class="button1" value="Send recovery link" />
</form>

<div class="error">{{error | safe}}</div>
<div class="info">{{info | safe}}</div>

{% endif %}

{% endblock %}
