{% extends "base.html" %}


{% block head %}
<link href="/css/reviews.css" rel="stylesheet" type="text/css" />
{% endblock %}



{% block content %}
<h2>New Entry</h2>

{% if username %}

<form method="post">
  <table>
    <tr>
      <td>
	Kind of entry:
      </td>
      <td>
	<input type="radio" name="species" value="arXiv" checked> arXiv article</input><br/>
	<input type="radio" name="species" value="article"> Published article (by DOI)</input><br/>
	<input type="radio" name="species" value="software"> Sotfware [not implemented yet]</input><br/>
	<input type="radio" name="species" value="webpage"> Web page (blog post) [not implemented yet]</input><br/>
      </td>
    </tr>

    <tr>
      <td>
	DOI / arXiv id / url:
      </td>
      <td>
	<input type="text" name="identifier"></input>
      </td>
    </tr>
    
  </table>
  <div class="submit-button">
    <input type="submit" value="Submit">
  </div>

  <div class="error">
    <br/>
    {{error}}
  </div>
</form>


{% else %}

<p>You are not logged in. Please <a href="/login">login</a> with an existing account or <a href="/signup">signup</a> for a new one. It's free!</p>

{% endif %}

{% endblock %}
