{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/notebook_main.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title_bar_extra %}
/  <a href="/{{p_author.username}}/{{project.name}}/notebooks">Notebooks</a>
/  <a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}">{{notebook.name.replace("_"," ").capitalize()}}</a>
{% endblock %}

{% block p_content %}

<div class="nb-heading">
  <div class="button1"><a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}/new_note">New note</a></div>
  <div class="button1"><a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}/edit">Edit details</a></div>
  <h2>{{notebook.name.replace("_"," ").capitalize()}}</h2>
</div>

{% for note in notes %}
<div class="note">
  <div class="note-head">
    <div class="note-date">{{note.date.strftime("%d-%b-%Y")}}</div>
    <div class="note-title"><a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}/{{note.key().id()}}">{{note.title}}</a></div>
  </div>
  <div class="note-content">{{note.content | safe}}</div>
</div>
{% endfor %}

{% endblock %}
