{% extends "project_base.html" %}


{% block p_head %}
  <link href="/css/notebooks_list.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var toggleVisibility = function (notebook) {
      var infoDiv = notebook.parentElement.parentElement.getElementsByClassName('n-info')[0];
      if (notebook.innerHTML.trim() == 'Show description') {
        notebook.innerHTML = 'Hide description';
        infoDiv.style.maxHeight = '20em';
      } else {
        notebook.innerHTML = 'Show description';
        infoDiv.style.maxHeight = '0em';
      }
    };
  </script>
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/notebooks">Notebooks</a>
{% endblock %}


{% block p_content %}
  
<div class="button1"><a href="/{{project.key.integer_id()}}/notebooks/new">New notebook</a></div>
<h2>Notebooks</h2>

<div id="n-wrapper">
  {% for n in notebooks %}
  <div class="notebook">
    <div class="n-head">
      <a class="n-description-link" href="#" onClick="toggleVisibility(this);">
	Show description
      </a>
      <a class="n-title" href="/{{project.key.integer_id()}}/notebooks/{{n.key.integer_id()}}">
	<div class="n-notes" title="Number of notes in this notebook"> {{n.get_number_of_notes()}}</div>
	{{n.name}}
      </a>
    </div>
    <div class="n-info">
      <div class="n-last-updated">Last note: {{n.last_updated.strftime("%d-%b-%Y")}}</div>
      <div class="n-description">{{n.description | md | safe}}</div>
      <div class="n-owner">Author: <a href="/{{n.owner.get().username}}">{{n.owner.get().username.capitalize()}}</a></div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
