{% extends "base.html" %}


{% block head %}
    <link href="/css/new_something.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | New notebook</title>
{% endblock %}


{% block content %}

<h2>New Notebook</h2>

<form method="post">

  <input type="text" name="n_name" value="{{n_name}}" placeholder="Notebook name." />
 
  <textarea name="n_description" placeholder="Notebook description.">{{n_description}}</textarea>

  <div class="submit-button">
    <input type="submit" value="Create new notebook"/>
  </div>

</form>

<br/><div class="error">{{error}}</div>

<a href="/projects/project/{{project_key}}">&larr; Return to your project's page.</a>

{% endblock %}
