{% extends "project_base.html" %}


{% block p_head %}
  <link href="/css/notebooks_list.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block title_bar_extra %}
/  <a href="/{{p_author.username}}/{{project.key().id()}}/notebooks">Notebooks</a>
{% endblock %}


{% block p_content %}
  
<div class="button1"><a href="/{{p_author.username}}/{{project.key().id()}}/notebooks/new">New notebook</a></div>
<h2>Notebooks</h2>

{% for n in notebooks %}
<div class="n-wrapper">
  <div class="n-last-updated">Last note: {{n.last_updated.strftime("%d-%b-%Y")}}</div>
  <div class="n-name"><a href="/{{n.owner.username}}/{{project.key().id()}}/notebooks/{{n.name}}">{{n.name.replace("_", " ").title()}}</a></div>
  <div class="n-description">{{n.description.replace("\n", "<br/>") | safe}}</div>
  <div class="n-owner"><a href="/{{n.owner.username}}">{{n.owner.username.capitalize()}}</a></div>
</div>
{% endfor %}

{% endblock %}
