{% extends "project_base.html" %}


{% block p_head %}
  <link href="/css/notebook_note.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true }
    });
  </script>
{% endblock %}

{% block title_bar_extra %}
  / <a href="/{{p_author.username}}/{{project.key().id()}}/notebooks">Notebooks</a>
  / <a href="/{{p_author.username}}/{{project.key().id()}}/notebooks/{{notebook.key().id()}}">{{notebook.name}}</a>
  / <a href="/{{p_author.username}}/{{project.key().id()}}/notebooks/{{notebook.key().id()}}/{{note.key().id()}}">{{note.title}}</a>
{% endblock %}

{% block p_content %}
  <div class="note-head">
    <div class="button1"><a href="/{{p_author.username}}/{{project.key().id()}}/notebooks/{{notebook.key().id()}}/{{note.key().id()}}/edit">Edit</a></div>
    <div class="note-title">{{note.title}}</div>
    <div class="note-date">{{note.date.strftime("%d-%b-%Y")}}</div>
  </div>
  <div class="note-content">{{note.content | md | safe}}</div>


<h3 class="c-heading">Comments</h3>

{% for c in comments %}
  <div class="n-comment">
    <div class="c-head">
      <div class="c-date">{{c.date.strftime("%d-%b-%Y")}}</div>
      <div class="c-author"><a href="/{{c.author.username}}">{{c.author.username.capitalize()}}</a></div>
    </div>
    <div class="c-comment">{{c.comment | md | safe}}</div>
  </div>
{% endfor %}

<div class="comment-form">
  <form method="post">
    <textarea name="comment">{{comment_value}}</textarea>
    <input type="submit" value="Comment" />
  </form>
</div>

<div class="error">{{error_message}}</div>

<div class="help">
  <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
</div>

{% endblock %}
