{% extends "base.html" %}


{% block head %}
    <link href="/css/notebooks.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | Notebook</title>
{% endblock %}


{% block content %}

    <div class="go-back-link"><a href="/projects/project/{{project_key}}">&larr; Go back to your project's main page.</a></div>

{{notebook.full_render(project_key) | safe}}

<div class="notes-wrapper">
  <h3>Notes</h3>

  <div class="new-note-link">
    <a href="/projects/project/{{project_key}}/nb/new_note/{{notebook.key()}}">New note</a>
  </div>

  <div class="all-the-notes">
    {% for note in notes %}
      <div class="note">
	<div class="date">{{note.date}}</div>
	<div class="title">{{note.title}}</div>
	<div class="content">{{note.content | safe}}</div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
