{% extends "base.html" %}


{% block head %}
    <link href="/css/notebooks.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

    <div class="go-back-link"><a href="/projects/project/{{project_key}}">&larr; Go back to your project's main page.</a></div>

{{notebook.full_render() | safe}}

<div class="notes-wrapper">
  <h3>Notes</h3>

  <div class="new-note-link">
    <a href="/notebook/notebook/new_note/{{notebook.key()}}">New note</a>
  </div>

  <div class="all-the-notes">
    {% for note in notes %}
      {{note.short_render()}}
    {% endfor %}
  </div>
</div>

{% endblock %}
