{% extends "project_base.html" %}

{% block p_head %}
<script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}

{% block breadcrumbs %}{% if action=="New" %}<li class="active">Notebooks</li>{% else %}<li><a href="/{{project.key.integer_id()}}/notebooks">Notebooks</a></li><li class="active">{{notebook.name}}</li>{% endif %}{% endblock %}

{% block p_content %}

<h2 class="project-tab-header">
    {% if action=="Edit" %}
        <div class="parent-link">
            <a href="/{{project.key.integer_id()}}/notebooks/{{notebook.key.integer_id()}}">
                {{notebook.name | safe}}
            </a>
        </div>
    {% endif %}

    {% if action=="New" %}
        New Notebook
    {% else %}
        Edit Notebook
    {% endif %}
    <a href="#project-menu" class="skiptocontent">Skip to project menu</a>
</h2>

<form method="post" role="form">
  <div class="form-group {{nClass}}">
    <input type="text" name="name" class="form-control"
	   value="{{n_name}}" placeholder="Title of the notebook" autofocus {% if visitor_p %}disabled{% endif %}/>
  </div>
  <div class="form-group {{dClass}}">
    <textarea name="description" id="inputText" placeholder="Description of the notebook" onKeyUp="Preview('inputText','previewArea');"
	      class="form-control" rows="10"{% if visior_p %} disabled{% endif %}>{{n_description}}</textarea>
  </div>
  <small>About
    <a href="https://en.wikipedia.org/wiki/Open_Notebook_Science" target="_blank">
      open notebooks in science <span class="glyphicon glyphicon-new-window"></span></a> and
    <a href="https://onsclaims.wikispaces.com/" target="_blank">
      this set of icons <span class="glyphicon glyphicon-new-window"></span></a>
  </small>
  <div class="radio">
    <label>
      <input type="radio" name="claims" value="ONS-ACI" {% if n_claims == "ONS-ACI" %}checked{% endif %}/>
      <img src="/static/ONS/ONS-ACI-icons.png" />
      <strong>Open notebook:</strong> All content is reported as close to real time as possible.
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="claims" value="ONS-ACD" {% if n_claims == "ONS-ACD" %}checked{% endif %}/>
      <img src="/static/ONS/ONS-ACD-icons.png" />
      <strong>Open notebook:</strong> All content is reported but with a significant delay.
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="claims" value="ONS-SCI" {% if n_claims == "ONS-SCI" %}checked{% endif %}/>
      <img src="/static/ONS/ONS-SCI-icons.png" />
      <strong>Open notebook:</strong> Only some selected content is reported as close to real time as possible.
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="claims" value="ONS-SCD" {% if n_claims == "ONS-SCD" %}checked{% endif %}/>
      <img src="/static/ONS/ONS-SCD-icons.png" />
      <strong>Open notebook:</strong> Only some selected content is reported and with a significant delay.
    </label>
  </div>
  <div class="radio">
    <label>
	<input type="radio" name="claims" value="CNS" {% if n_claims == "CNS" %}checked{% endif %}/>
	<span class="glyphicon glyphicon-eye-close"></span>
	<strong>Closed notebook:</strong> Only members of this project will be able to see the content.
    </label>
  </div>

  {% if action=="Edit" %}
  <strong>This is a shared notebook</strong><br/><br/>
  {% else %}
  <div class="checkbox">
    <br/>
    <label>
      <input type="checkbox" name="shared_p" value="True" {% if shared_p %}checked{% endif %}/>
      <strong>Shared notebook?</strong> If checked, every author in this project can write in the notebook.
    </label>
  </div>
  {% endif %}

  <button type="submit" class="btn btn-success" {% if visitor_p %}disabled="disabled"{% endif %}>{{button_text}}</button>
  <button type="button" class="btn btn-default"
	  onClick="if (confirm('Are you sure you want to cancel?')) {window.location = '/{{project.key.integer_id()}}/notebooks'}">Cancel</button>
  {% if error_message %}
  <div class="alert alert-danger alert-dismissable" style="margin-top:5px;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{error_message | safe}}</div>{% endif %}
  <span class="help-block">
    Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).
  </span>
</form>


<div>Below is a preview of how the page will be renderer when you save it.</div>
<div class="panel panel-default">
  <div class="panel-body" id="previewArea">
    <em>Start typing above to see a preview here.</em>
  </div>
</div>

{% endblock %}
