{% extends "project_base.html" %}


{% block p_head %}
  <link href="/css/notebook_note.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title_bar_extra %}
  / <a href="/{{p_author.username}}/{{project.name}}/notebooks">Notebooks</a>
  / <a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}">{{notebook.name.replace("_"," ").capitalize()}}</a>
  / <a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}/{{note.key().id()}}">{{note.key().id()}}</a>
{% endblock %}

{% block p_content %}
  <div class="button1"><a href="/{{p_author.username}}/{{project.name}}/notebooks/{{notebook.name}}/{{note.key().id()}}/edit">Edit</a></div>
  <div class="note-title">{{note.title}}</div>
  <div class="note-date">{{note.date.strftime("%d-%b-%Y")}}</div>
  <div class="note-content">{{note.content | safe}}</div>

<div class="comments-wrapper">
  <h3>Comments</h3>
  (Coming soon)
</div>
{% endblock %}
