{% extends "base.html" %}


{% block head %}
    <link href="/css/projects.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | Your projects</title>
{% endblock %}


{% block content %}

<h2>Your Projects</h2>

<div class="new-project-link"><a href="/projects/new">New Project</a></div>

{% if projects %}

  <div class="projects-wrapper">
  {% for project in projects %}
      <div class="project">
	<div class="date">
	  Last updated: {{project.last_updated.strftime("%d-%b-%Y")}}
	</div>

	<div class="name">
	  <a href="/projects/project/{{project.key()}}">{{project.name}}</a>
	</div>

	<div class="short-description">
	  {{project.short_description()}}
	</div>

	<div class="authors">
	  <ul>
	    {% for author in project.list_of_authors(handler) %}
	      <li><a href="/{{author.username}}">{{author.username.capitalize()}}</a></li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
  {% endfor %}
  </div>

{% else %}

  <p>You don't have any projects yet. </p>

{% endif %}

{% endblock %}
