{% extends "project_base.html" %}

{% block breadcrumbs %}<li class="active">Overview</li>
{% endblock %}

{% block p_content %}

<div class="page-header">
  <h2>{{project.name | safe}}
    <a class="btn btn-default pull-right" href="/{{project.key.integer_id()}}/admin" title="Edit settings">
      <span class="glyphicon glyphicon-cog"></span></a>
  </h2>
</div>

<div>{{project.description | md | safe}}</div>

<h3>Authors:</h3>
<ul class="nav nav-pills">
  {% for a in authors %}
    <li><a href="/{{a.username}}"><img src="{{a.get_profile_image(20)}}"/> {{a.username.capitalize()}}</a></li>
  {% endfor %}
</ul>

<div>
  <div class="pull-right text-muted">Last updated: <em>{{project.last_updated.strftime("%d-%b-%Y")}}</em></div>
  <h3>Latest activity</h3>
  {% if updates %}
  <div class="list-group">
    {% for u in updates %}
    <div class="list-group-item">{{u.description_html(project) | safe}}</div>
    {% endfor %}
  </div>
  {% else %}
  <em>There has been no activity in this project yet</em>
  {% endif %}
</div>


{% endblock %}
