{% extends "base.html" %}


{% block head %}
    <link href="/css/project_base.css" rel="stylesheet" type="text/css" />
    <title>{{p_author.username.capitalize() }} / {{project.name}}</title>
    {% block p_head %}
    {% endblock %}
{% endblock %}


{% block content %}

<div class="p-menu-wrapper">
  <ul class="p-menu">
    <ul>
      <li><div class="overview-tab"><a href="/{{p_author.username}}/{{project.key().id()}}">Overview</a></div></li>
    </ul>
    <ul>
      <li><div class="wiki-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/wiki/page/main_page">Wiki</a></div></li>
      <li><div class="notebooks-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/notebooks">Notebooks</a></div></li>
      <li><div class="writings-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/writings">Writings</a></div></li>
      <li><div class="code-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/code">Code</a></div></li>
      <li><div class="datasets-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/datasets">Datasets</a></div></li>
    </ul>
    <ul>
      <li><div class="forum-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/forum">Forum</a></div></li>
    </ul>
    <ul>
      <li><div class="admin-tab"><a href="/{{p_author.username}}/{{project.key().id()}}/admin">Admin</a></div></li>
    </ul>
  </ul>
</div>

<div class="p-title-bar">
  <a href="/{{p_author.username}}">{{p_author.username.capitalize()}}</a> / 
  <a href="/{{p_author.username}}/{{project.key().id()}}">{{project.name}}</a>
  {% block title_bar_extra %} {% endblock %}
</div>

<div class="p-content">

{% block p_content %}
{% endblock %}
</div>

{% endblock %}
