<div class="article-full">

  <div class="name">
    {{project.name}}
  </div>

  <div class="description">
    {{project.description}}
  </div>

  <div class="authors">
    <ul>
      {% for author in project.list_of_authors() %}
        <li>{{author.username}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="dates">
    <b>Last updated: </b>{{project.last_updated.year}}-{{project.last_updated.month}}-{{project.last_updated.day}}
    <b>Started: </b>{{project.started.year}}-{{project.started.month}}-{{project.started.day}}
  </div>

</div>
