{% extends "base.html" %}


{% block head %}
    <link href="/css/project_base.css" rel="stylesheet" type="text/css" />
    <title>{{project.name}}</title>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
      MathJax.Hub.Config({
      "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true },
      TeX: {equationNumbers: {autoNumber: "AMS"} }
      });
    </script>
    {% block p_head %}
    {% endblock %}
{% endblock %}


{% block content %}

<ul id="project-menu">
  <ul>
    <li><div id="overview-tab"><a href="/{{project.key.integer_id()}}">Overview</a></div></li>
    </ul>
  <ul>
    <li><div id="notebooks-tab"><a href="/{{project.key.integer_id()}}/notebooks">Notebooks</a></div></li>
    <li><div id="code-tab"><a href="/{{project.key.integer_id()}}/code">Code</a></div></li>
    <li><div id="datasets-tab"><a href="/{{project.key.integer_id()}}/datasets">Datasets</a></div></li>
  </ul>
  <ul>
    <li><div id="wiki-tab"><a href="/{{project.key.integer_id()}}/wiki/page/Main_Page">Wiki</a></div></li>
    <li><div id="writings-tab"><a href="/{{project.key.integer_id()}}/writings">Writings</a></div></li>
    <li><div id="forum-tab"><a href="/{{project.key.integer_id()}}/forum">Forum</a></div></li>
    <li><div id="bibliography-tab"><a href="/{{project.key.integer_id()}}/bibliography">Bibliography</a></div></li>
  </ul>
    <ul>
      <li><div id="admin-tab"><a href="/{{project.key.integer_id()}}/admin">Admin</a></div></li>
    </ul>
</ul>


<div id="project-title-bar">
  <a href="/{{project.key.integer_id()}}">{{project.name | safe}}</a>
  {% block title_bar_extra %} {% endblock %}
</div>

<div id="project-content">

{% block p_content %}
{% endblock %}
</div>

{% endblock %}
