{% extends "base.html" %}


{% block head %}
<link href="/css/project_new.css" rel="stylesheet" type="text/css" />
<title>{{user.username.capitalize()}} / New project</title>
{% endblock %}


{% block content %}


<div class="form-wrapper">

  <h2>New project</h2>

  <form method="post">
    <input type="text" name="p_name" value="{{p_name}}" placeholder="Name of the project" />
    <textarea name="p_description" placeholder="Description of the project">{{p_description}}</textarea>
    <input type="submit" value="Create new project" class="bottom-buttons" />
    <input type="button" value="Cancel" class="bottom-buttons" onClick="window.location = '/{{user.username}}'" />
  </form>
  
  <br/><div class="error">{{error_message}}</div>

</div>

{% endblock %}
