{% extends "base.html" %}


{% block head %}
    <link href="/css/projects-menu.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | Project</title>
{% endblock %}


{% block content %}

<div class="p-menu-wrapper">
  <ul class="p-menu">
    <ul>
      <li class="news-link"><a href="">News</a></li>
      <li><a href="">Wiki</a></li>
      <li><a href="">Forum</a></li>
    </ul>
    <ul>
      <li><a href="">Notebooks</a></li>
      <li><a href="">Writings</a></li>
      <li><a href="">References</a></li>
      <li><a href="">Code</a></li>
      <li><a href="">Datasets</a></li>
    </ul>
    <ul>
      <li><a href="">Admin</a></li>
    </ul>
  </ul>
</div>

<div class="p-title">
  <a href="/{{p_author.username}}">{{p_author.username.capitalize()}}</a> / <a href="/projects">Projects</a> / <a href="/projects/project/{{project_key}}">{{project.name}}</a>
</div>

<div class="p-content">

<div class="activity">
  <h3>Latest Activity</h3>
  <div class="summary">
    <br/>(Under construction)
  </div>
</div>

<div class="notebooks">
  <div class="new-notebook-link">
    <a href="/projects/project/new_notebook/{{project_key}}">New notebook</a>
  </div>
  <h3>Notebooks ({{len_nb_list}})</h3>
  {% for notebook in nb_list %}
    <div class="notebook">
      {{notebook.short_render(project_key) | safe }}
    </div>
  {% endfor %}
</div>

<div class="writings">
  <div class="new-writing-link">
    <a href="/projects/project/new_writing/{{project_key}}">New writing</a>
  </div>
  <h3>Collaborative writings ({{len_wrt_list}})</h3>
  {% for writing in wrt_list %}
    <div class="writing">
      {{writing.short_render(project_key) | safe}}
    </div>
  {% endfor %}
</div>

<div class="references">
  <div class="new-reference-link">
    <a href="/projects/project/new_reference/{{project_key}}">New reference</a>
  </div>
  <h3>References ({{len_ref_list}})</h3>
  {% for reference in ref_list %}
    <div class="reference">
      {{reference.short_render(project_key) | safe}}
    </div>
  {% endfor %}
</div>

</div>

{% endblock %}
