{% extends "project_base.html" %}

{% block p_content %}

<!-- Help modal -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
                <h4 class="modal-title">Projects</h4>
            </div>
            <div class="modal-body">
                <p>This page shows general information about your project as well as recent developments within it.</p>
                <p>The project's name and its description are visible to everyone but the <em>Latest activity</em> section is filtered according to each element's <em>visibility</em> setting. That is, if there's a change in something marked as <em>Visible only to project members</em> then it will show in the <em>Latest Activity</em> tab only if the user is logged in and is an author of the project.</p>
            </div>
        </div>
    </div>
</div>

<h2 class="project-tab-header no-action-bar" {% if intro_p %} data-step="1" data-intro="Welcome to your first project at {{APP_NAME}}."{% endif %}>
    {{project.name | safe}}
    <a href="#project-menu" class="skiptocontent">Skip to project menu</a>

    <div class="actions">
        <a href="#helpModal" data-toggle="modal" data-toggle="modal"{% if intro_p %} data-step="3" data-intro="You will find help icons like this inside each section to help you understand its capabilities and potential uses."{% endif %}>
            <span class="fa fa-question-circle"></span><!--
        --></a>
        <a href="/{{project.key.integer_id()}}/admin" title="Edit settings">
            <span class="fa fa-cog"></span><!--
        --></a>
    </div>
</h2>

<div>{{project.description | md | safe}}</div>

<h3>Authors</h3>
<ul class="nav nav-pills">
    {% for a in authors %}
        <li>
            <a href="/{{a.username}}">
                <img src="{{a.get_profile_image(20)}}" aria-hidden="true"/>
                {{a.username.capitalize()}}
            </a>
        </li>
    {% endfor %}
</ul>

<div>
    <div class="pull-right text-muted">
        Last updated on {{project.last_updated.strftime("%d %b %Y")}}
    </div>
    <h3>Latest activity</h3>

    {% if updates %}
        <div class="list-group" role="log">
            {% for u in updates %}
                {% if (not visitor_p) or u.is_open_p() %}
                    <div class="list-group-item">
                        <img src="{{u.author.get().get_profile_image(20)}}" aria-hidden="true"/>
                        {{u.description_html(project, show_project_p = False) | safe}}

                        <span class="text-muted pull-right">
                            {{u.date.strftime("%d %b %H:%M")}}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <em>There has been no activity in this project yet</em>
    {% endif %}
</div>

{% endblock %}
