{% extends "base.html" %}


{% block head %}
    <link href="/css/projects.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h2>Project</h2>

<div class="edit-link">
  <a href="/projects/project/edit/{{project_key}}">Edit information</a>
</div>

<div class="return-link">
  <a href="/projects">&larr; Return to your projects list.</a>
</div>

{{project.full_render() | safe}}

<div class="activity">
  <h3>Latest Activity</h3>
  <div class="summary">
    <br/>(Under construction)
  </div>
</div>

<div class="notebooks">
  <div class="new-notebook-link">
    <a href="/projects/project/new_notebook/{{project_key}}">New notebook</a>
  </div>
  <h3>Notebooks ({{len_nb_list}})</h3>
  {% for notebook in nb_list %}
    <div class="notebook">
      {{notebook.short_render(project_key) | safe }}
    </div>
  {% endfor %}
</div>

<div class="references">
  <div class="new-reference-link">
    <a href="/projects/project/new_reference/{{project_key}}">New reference</a>
  </div>
  <h3>References ({{len_ref_list}})</h3>
  {% for reference in ref_list %}
    <div class="reference">
      {{reference.short_render(project_key) | safe}}
    </div>
  {% endfor %}
</div>

{% endblock %}
