{% extends "base.html" %}

{% block head %}
<title>{{user.username.capitalize()}} / New project</title>
{% endblock %}


{% block content %}

<div class="container" style="max-width:720px;">
  <h2 class="page-header" tabindex="0">New project</h2>

  <form method="post" action="/new_project" role="form">
    <div class="form-group {{name_class}}">
      <label for="pName">Project name</label>
      <input type="text" class="form-control"
	     name="p_name" value="{{p_name}}" placeholder="Enter name" id="pName" autofocus/>
    </div>
    <div class="form-group {{description_class}}">
      <label for="pDescription">Description</label>
      <textarea class="form-control" rows="15" name="p_description" id="pDescription"
		placeholder="Enter a description of the project">{{p_description}}</textarea>
    </div>

    <div class="form-group">
      <label>Default visibility</label>
      <button class="btn btn-link" data-toggle="modal" data-target="#openHelp" aria-label="Default visibility. Click for help.">
	<span class="glyphicon glyphicon-info-sign"></span></button>
      <div class="modal fade" id="openHelp" tabindex="-1" role="dialog" aria-labelledby="openHelpLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" arial-hidden="true" aria-label="Close help">&times;</button>
	      <h4 class="modal-title" id="openHelpLabel">Default visibility help</h4>
	    </div>
	    <div class="modal-body" tabindex="0">
	      <p>Some researchers like to work completely in the open while many prefer to keep everything private until they publish it in a journal. Here at <em>{{APP_NAME}}</em> you can also have a mixed approach with some elements public and some private. This <strong>Default visibility</strong> option sets the default choice for the new elements you create inside in this project, however you will always have the choice to change the visibility of individual items.</p>
	      <ul>
		<li>Items marked as <em><span class="glyphicon glyphicon-eye-open"></span> Visible to the general public</em> will be visible to everyone accesing you project's page.</li>
		<li>Items marked as <em><span class="glyphicon glyphicon-eye-close"></span> Visible only to members of this project</em> will be visible only to you and the colleagues you invite to participate in this project.</li>
	      </ul>
	      <p>Keep in mind that currently here at <em>{{APP_NAME}}</em> the project's name and description are always publicly visible.</p>
	    </div>
	  </div>
	</div>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="open_p" value="True" checked/>
	  <span class="glyphicon glyphicon-eye-open"></span>
	  Visible to the general public.
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="open_p" value="False" />
	  <span class="glyphicon glyphicon-eye-close"></span>
	  Visible only to members of this project.
	</label>
      </div>
    </div>


    <button type="submit" class="btn btn-success">Create new project</button>
    <button type="button" class="btn btn-default" onClick="window.location = '/{{user.username}}'">Cancel</button>
    <p class="text-danger" style="margin-top:10px;">{{error_message}}</p>
  </form>

</div>

{% endblock %}
