{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/project_form_2.css" rel="stylesheet" type="text/css" />
  {% if markdown_p %}
  <script type="text/javascript" src="/js/showdown.js"></script>
  <script type="text/javascript" src="/js/preview.js"></script>
  {% endif %}
  {{more_head | safe}}
{% endblock %}

{% block title_bar_extra %}{{title_bar_extra | safe}}{% endblock %}

{% block p_content %}

  <h2>{{title}}</h2>
  <h3>{{subtitle}}</h3>
  
  <div class="pre-message">{{pre_form_message | safe}}</div>

  <form method="post">
    <input type="text" name="name" value="{{name_value}}" placeholder="{{name_placeholder}}" autofocus {% if disabled_p %}disabled{% endif %}/>
    <textarea name="content" id="inputText" placeholder="{{content_placeholder}}"
	      {% if disabled_p %}disabled{% endif %}>{{content_value}}</textarea>
    <input type="submit" value="{{submit_button_text}}" class="bottom-buttons" {% if disabled_p %}disabled{% endif %}/>
    <input type="button" value="Cancel" class="bottom-buttons" onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '{{cancel_url}}'}"/>
  </form>

  <br/>
  <div class="error">{{error_message | safe}}</div>
  <div class="info">{{info_message | safe}}</div>

  {% if markdown_p %}
  <div class="help"><p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p></div>
  <input type="button" class="bottom-buttons" value="Render preview" onCLick="Preview('inputText', 'previewArea');">
  <div class="preview-subtitle">This is a preview of how the page will be renderer when you save it. It may not be 100&#37; accurate but it should be close.</div>
  <div id="previewArea">Click the <em>Render preview</em> button to see a preview here.</div>
  {% endif %}

{% endblock %}
