{% extends "base.html" %}


{% block head %}
    <link href="/css/projects.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | Project</title>
{% endblock %}


{% block content %}

<h2>Project</h2>

<div class="edit-link">
  <a href="/projects/project/edit/{{project_key}}">Edit information</a>
</div>

<div class="return-link">
  <a href="/projects">&larr; Return to your projects list.</a>
</div>

<div class="project-full">
  
  <div class="dates">
    <b>Last updated: </b>{{project.last_updated.year}}-{{project.last_updated.month}}-{{project.last_updated.day}}<br/>
    <b>Started: </b>{{project.started.year}}-{{project.started.month}}-{{project.started.day}}
  </div>
  
  <div class="name">
    {{project.name}}
  </div>
  
  <div class="description">
    {{project.description.replace("\n", "<br/>") | safe}}
  </div>
  
  <div class="authors">
    <div class="label">Authors:</div>
    <ul>
      {% for author in authors %}
        <li><a href="/{{author.username}}">{{author.username}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="activity">
  <h3>Latest Activity</h3>
  <div class="summary">
    <br/>(Under construction)
  </div>
</div>

<div class="notebooks">
  <div class="new-notebook-link">
    <a href="/projects/project/new_notebook/{{project_key}}">New notebook</a>
  </div>
  <h3>Notebooks ({{len_nb_list}})</h3>
  {% for notebook in nb_list %}
    <div class="notebook">
      {{notebook.short_render(project_key) | safe }}
    </div>
  {% endfor %}
</div>

<div class="writings">
  <div class="new-writing-link">
    <a href="/projects/project/new_writing/{{project_key}}">New writing</a>
  </div>
  <h3>Collaborative writings ({{len_wrt_list}})</h3>
  {% for writing in wrt_list %}
    <div class="writing">
      {{writing.short_render(project_key) | safe}}
    </div>
  {% endfor %}
</div>

<div class="references">
  <div class="new-reference-link">
    <a href="/projects/project/new_reference/{{project_key}}">New reference</a>
  </div>
  <h3>References ({{len_ref_list}})</h3>
  {% for reference in ref_list %}
    <div class="reference">
      {{reference.short_render(project_key) | safe}}
    </div>
  {% endfor %}
</div>

{% endblock %}
