{% extends "base.html" %}

{% block head %}
<title>{{APP_NAME}} | Recover password</title>
{% endblock %}


{% block content %}

<div class="container" style="max-width:750px;">
  <div class="page-header"><h2>Recover password</h2></div>

  <form method="post" action="/recover_password" class="form-horizontal" style="margin-bottom:10px;">
    <div class="form-group{% if error %} has-error{% endif %}">
      <label for="pwdInput" class="col-sm-2 control-label">New password</label>
      <div class="col-sm-10"><input id="pwdInput" type="password" name="password" value="" class="form-control" autofocus /></div>
    </div>
    <div class="form-group{% if error %} has-error{% endif %}">
      <label for="repeatInput" class="col-sm-2 control-label">Repeat your password</label>
      <div class="col-sm-10"><input id="repeatInput" type="password" name="p_repeat" value="" class="form-control"/></div>
    </div>
    <button type="submit" class="btn btn-success col-sm-offset-2">Set new password</button>    

    <input type="hidden" name="action" value="do_reset" />
    <input type="hidden" name="email" value="{{email}}" />
    <input type="hidden" name="k" value="{{key}}" />
  </form>
  {% if error %}<div class="alert alert-danger">{{error}}</div>{% endif %}

</div>
{% endblock %}
