{% extends "base.html" %}

{% block head %}
<title>Research Engine | Recover password</title>
<link href="/css/login.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h2>Recover password</h2>

<form method="post" action="/recover_password">
  <table>
    <tr>
      <td>New password</td>
      <td><input type="password" name="password" value="" autofocus /></td>
    </tr>
    <tr>
      <td>Repeat your password</td>
      <td><input type="password" name="p_repeat" value="" /></td>
    </tr>
  </table>
  <input type="hidden" name="action" value="do_reset" />
  <input type="hidden" name="email" value="{{email}}" />
  <input type="hidden" name="k" value="{{key}}" />
  <input type="submit" class="button1" value="Set new password" />
</form>

<div class="error">{{error}}</div>

{% endblock %}
