{% extends "base.html" %}

{% block head %}
<link href="/css/reference.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<h3>Reference</h3>

<div class="go-back-link">
  <a href="/projects/project/{{project_key}}">&larr; Go back to the project's page.</a>
</div>

<div class="reference">
  {{reference.full_render() | safe}}
</div>

<div class="edit_link">
  <a href="/projects/project/{{project_key}}/ref/edit/{{reference_key}}">Edit information</a>
</div>

<div class="comments">
  <h3>Comments</h3>
  <p>Comments about this item will be here soon.</p>
</div>
{% endblock %}
