{% extends "base.html" %}

{% block head %}
    <title>{{APP_NAME}}</title>
    <link href="/css/root.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

{% if user %}

<div id="projects-wrapper">
  <a id="new-project-link" href="/new_project"><img src="/static/icons/32x32/add.png" /></a>
  <h2>Your projects</h2>
  {% if projects %}
  {% for p in projects %}
  <div class="project">
    <a href="/{{p.key.integer_id()}}">{{p.name | safe}}</a>
  </div>
  {% endfor %}
  {% else %}
  <div id="no-projects">You don't have any projects.</div>
  {% endif %}  
</div>

<div id="activity-wrapper">    
  <h2>Recent activity</h2>
</div>

{% else %}
<p style="text-align:right; font-size:0.9em; ">You are not logged in. You can <a href="/login">login here</a> or <a href="/signup">signup</a> for a new account. It's free!</p>

{% endif %}

{% endblock %}
