{% extends "base.html" %}

{% block head %}
<title>{{APP_NAME}}</title>
{% endblock %}


{% block content %}

{% if user %}

<div class="container">
  <div class="row">

    <div class="col-md-8">    
      <h2>Recent activity</h2>
    </div>

    <div class="col-md-4">
      <div class="list-group">
	<a class="pull-right" href="/new_project">New</a>
	<h3>Your projects</h3>
	{% if projects %}
	{% for p in projects %}
	<a href="/{{p.key.integer_id()}}" class="list-group-item">{{p.name | safe}}</a>
	{% endfor %}
	{% else %}
	<a href="/new_project">Start by creating a new project</a>
	{% endif %}
      </div>
    </div>
    
  </div>
</div>

{% else %}
<p style="text-align:right; font-size:0.9em; ">You are not logged in. You can <a href="/login">login here</a> or <a href="/signup">signup</a> for a new account. It's free!</p>

{% endif %}

{% endblock %}
