{% extends "base.html" %}

{% block head %}
    <link href="/css/new_something.css" rel="stylesheet" type="text/css" />
    <title>Research Engine | Settings</title>
{% endblock %}

{% block content %}

<h2>Your basic information</h2>

<form method="post">
  <table>

    <tr>
      <td class="label">
	Username
      </td>
      <td>
	<input type="text" name="usern" value="{{usern}}">
      </td>
      <td class="error">
	{{error_username}}
      </td>
    </tr>

    <tr>
      <td class="label">
	Email
      </td>
      <td>
	<input type="text" name="email" value="{{email}}">
      </td>
      <td class="error">
	{{error_email}}
      </td>
    </tr>

    <tr>
      <td class="label">
	About Me
      </td>
      <td>
	<textarea name="about_me">{{about_me}}</textarea>
      </td>
      <td class="error">
	{{error_about_me}}
      </td>
    </tr>


  </table>
  <div class="submit-button">
    <input type="submit" value="Submit changes">
  </div>

  <br/>
  <div class="info">{{info | safe}}</div>
  <div class="error">{{error | safe}}</div>

</form>

{% endblock %}
