{% extends "base.html" %}

{% block head %}
<title>{{APP_NAME}} | Signup</title>
<script type="text/javascript">
  var enableSignUp = function () {
     var btn = document.getElementById("createAccBtn");
     var cb = document.getElementById("TOScb");
     if (cb.checked) { btn.disabled = false;}
     else { btn.disabled = true;}
  };
</script>
{% endblock %}

{% block content %}

<div class="container" style="max-width:750px;">
  <div class="page-header"><h2 id="main-content">Create an account</h2></div>

  {% if user %}
  <p>Welcome back {{user.username}}, you are already logged in.</p>
  <p>If you are not {{user.username}} you can <a href="/logout">Logout</a></p>

  {% else %}
  <form method="post" role="form" class="form-horizontal" style="margin-bottom:10px;">
    <div class="form-group{% if error_username %} has-error{% endif %}">
      <label for="usrInput" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10"><input type="text" name="usern" value="{{usern}}" placeholder="Username" class="form-control"/></div>
    </div>

    <div class="form-group{% if error_password %} has-error{% endif %}">
      <label for="pwdInput" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10"><input type="password" name="password" value="" placeholder="Password" class="form-control" /></div>
    </div>

    <div class="form-group{% if error_verify %} has-error{% endif %}">
      <label for="verInput" class="col-sm-2 control-label">Verify password</label>
      <div class="col-sm-10"><input type="password" name="verify" value="" placeholder="Write again your password" class="form-control"/></div>
    </div>

    <div class="form-group{% if error_email %} has-error{% endif %}">
      <label for="usrInput" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10"><input type="text" name="email" value="{{email}}" placeholder="Email address" class="form-control"/></div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
	<div class="checkbox">
	  <label>
	    <input type="checkbox" id="TOScb" onClick="enableSignUp();"/> I have read and agree to {{APP_NAME}}'s <a href="/terms" target="_blank">Terms of service <span class="glyphicon glyphicon-new-window"></span></a>
	  </label>
	</div>
      </div>
    </div>
    <button type="submit" class="btn btn-success col-sm-offset-2" id="createAccBtn" disabled>Create account</button>

  </form>
  {% if error %}<div class="alert alert-danger">{{error | safe}}</div>{% endif %}
  {% if info %}<div class="alert alert-success">{{info | safe}}</div>{% endif %} 


  {% endif %}
</div>
{% endblock %}
