{% extends "base.html" %}

{% block head %}
    <title>Research Engine | {{page_user.username.capitalize()}}</title>
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h2>{{page_user.username.capitalize()}}</h2>

<div class="user-info">
  {{page_user.about_me}}
</div>

<h3>Public projects</h3>

<div class="public-projects">
  (Under construction)
</div>

<div class="is-contact">
  {{is_contact_message | safe}}
</div>

<form method="post">
  <div class="submit-button">
    <input type="submit" value="{{button_message}}" />
  </div>
</form>

<div class="info">
  {{info_message}}
</div>

<div class="collaborations">
{% if is_contact %}

  {% if projects_collaborating %}
  <div class="collaborating">
    <h3>Projects in collaboration</h3>
    <div class="projects">
      {% for project in projects_collaborating %}
        <div class="project">
	  <div class="project">
	    <div class="date">
	      Last updated: {{project.last_updated.strftime("%d-%b-%Y")}}
	    </div>

	    <div class="name">
	      <a href="/projects/project/{{project.key()}}">{{project.name}}</a>
	    </div>

	    <div class="short-description">
	      {{project.short_description()}}
	    </div>

	    <div class="authors">
	      <ul>
		{% for author in project.list_of_authors(handler) %}
		  <li><a href="/{{author.username}}">{{author.username.capitalize()}}</a></li>
		{% endfor %}
	      </ul>
	    </div>
	  </div>
	</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if projects_not_collaborating %}
  <div class="not-collaborating">
    <h3>Invite {{page_user.username.capitalize()}} to collaborate in a project</h3>
    <div class="projects">
      {% for project in projects_not_collaborating %}
      <div class="project">
       
	<div class="project-name">
	  <a href="/projects/project/{{project.key()}}">{{project.name}}</a>
	</div>
	  
	<form method="post" action="/projects/project/{{project.key()}}">
	  <div class="invite-button">
	    <input type="hidden" name="action" value="add_collaborator" />
	    <input type="hidden" name="new_collaborator_key" value="{{page_user.key()}}" />
 	    <input type="submit" value="Invite to this project" />
          </div>
	</form>
	
      </div>
      {% endfor %}

    </div>
  </div>
  {% endif %}

{% endif %}

</div>



{% endblock %}


