<div class="webpage-item">

  <div class="kind">
    <p>Web page</p>
  </div>  

  <div class="item-title">
    <p><b>Title:</b> {{item.title}}</p>
  </div>
  
  <div class="authors-list">
    <b>Authors:</b>
    <ul>
      {% for author in item.authors %}
        <li>{{author}}</li>
      {% endfor %}
    </ul>
  </div>
  <br/>

  <div class="item-abstract">
    <p><b>Summary: </b>{{item.summary}}</p>
  </div>

  <div class="identifier">
    <b>Link:</b> <a href="{{item.item_id}}">{{item.item_id}}</a>
  </div>

</div>
