{% extends "wiki_base.html" %}


{% block w_head %}
  <link href="/css/wiki_edit.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="/js/showdown.js"></script>
  <script type="text/javascript" src="/js/preview.js"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true },
        TeX: {equationNumbers: {autoNumber: "AMS"} }
    });
  </script>

{% endblock %}

    
{% block w_content %}

  <div class="w-title">Editing {{wikiurl.replace("_"," ")}}</div>

  <form method="post">
    <textarea name="content" id="inputText" placeholder="Write the content of this page here." autofocus {% if disabled_p %}disabled{% endif %}>{% if wikipage %}{{wikipage.content}}{% endif %}</textarea>
    <input type="text" name="summary" placeholder="Summary of changes (optional)" maxlength="160" {% if disabled_p %}disabled{% endif %}/>
    <input type="submit" class="bottom-buttons" value="Save" {% if disabled_p %}disabled{% endif %}/>
    <input type="button" class="bottom-buttons" value="Cancel" 
	   onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/{{project.key.integer_id()}}/wiki/page/{{wikiurl}}'}" />
  </form>

  <div class="error">{{error_message}}</div>

  <div class="help">

    <div class="help">
      <p>You can link to another page in this wiki using the syntax: <code>[[another page]]</code> or, if you want a link to another page but displaying a different text link, you can write <code>[[another page | this text will be displayed]]</code>.</p>
      <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some more editing help (opens in a new window).</p> 
    </div>
  </div>
  
  <input type="button" class="bottom-buttons" value="Render preview" onCLick="Preview('inputText', 'previewArea');">
  <div class="preview-subtitle">This is a preview of how the page will be renderer when you save it. It may not be 100&#37; accurate but it should be close.</div>
  <div id="previewArea">Click the <em>Render preview</em> button to see a preview here.</div>

{% endblock %}
