{% extends "project_base.html" %}

{% block p_head %}
  <link href="/css/wiki_base.css" rel="stylesheet" type="text/css" />
  {% block w_head %}
  {% endblock %}
{% endblock %}

{% block title_bar_extra %}
/  <a href="/{{project.key.integer_id()}}/wiki/page/Main_Page">Wiki</a>
/  <a href="/{{project.key.integer_id()}}/wiki/page/{{wikiurl}}">{{wikiurl.replace("_", " ")}}</a>
{% endblock %}

{% block p_content %}
  
  <div id="w-navbar">
    <a id="w-history-tab" href="/{{project.key.integer_id()}}/wiki/history/{{wikiurl}}">History</a>
    <a id="w-edit-tab" href="/{{project.key.integer_id()}}/wiki/edit/{{wikiurl}}">Edit</a>
    <a id="w-view-tab" href="/{{project.key.integer_id()}}/wiki/page/{{wikiurl}}">View</a>
  </div>

  {% block w_content %}
  {% endblock %}

{% endblock %}
