{% extends "wiki_base.html" %}


{% block w_head %}
  <link href="/css/wiki_revision.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true }
    });
  </script>
{% endblock %}

    
{% block w_content %}

<div class="wikitext">

  <div class="w-title">{{wikiurl.replace("_", " ")}}</div>
  <div class="rev-meta">Revision as of {{revision.date.strftime("%x %X")}} by <a href="/{{revision.author.get().username}}">{{revision.author.get().username.capitalize()}}</a></div>

  <div class="w-content">{{wikitext | md | safe}}</div>

</div>

{% endblock %}
