{% extends "wiki_base.html" %}


{% block w_head %}
  <link href="/css/wiki_edit.css" rel="stylesheet" type="text/css" />
{% endblock %}

    
{% block w_content %}

  <div class="w-title">Editing {{wikiurl.replace("_"," ")}}</div>

  <form method="post">
    <textarea name="content" placeholder="Write the content of this page here." autofocus>{% if wikipage %}{{wikipage.content}}{% endif %}</textarea>
    <input type="text" name="summary" placeholder="Summary of changes (optional)" maxlength="160" />
    <input type="submit" class="bottom-buttons" value="Save" />
    <input type="button" class="bottom-buttons" value="Cancel" 
	   onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/{{p_author.username}}/{{project.key.integer_id()}}/wiki/page/{{wikiurl}}'}" />
  </form>

  <div class="error">{{error_message}}</div>

  <div class="help">

    <div class="help">
      <p>You can link to another page in this wiki using the syntax: <code>[[another page]]</code> or, if you want a link to another page but displaying a different text link, you can write <code>[[another page | this text will be displayed]]</code>.</p>
      <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some more editing help (opens in a new window).</p> 
    </div>
  </div>


{% endblock %}
