{% extends "wiki_base.html" %}

{% block w_head %}
  <link href="/css/wiki_view.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true }
    });
  </script>
{% endblock %}

    
{% block w_content %}

<div class="wikitext">

  <div class="w-title">{{wikiurl.replace("_", " ")}}</div>

  <div class="w-content">
    {% if wikipage %}
      {{wikitext | md | safe}}
    {% else %}
      <em>This page doesn't exist yet. Click <a href="/{{p_author.username}}/{{project.key.integer_id()}}/wiki/edit/{{wikiurl}}">here</a> to create it.</em>
      {% endif %}
  </div>

</div>

{% endblock %}
