{% extends "wiki_base.html" %}


{% block w_head %}
  <link href="/css/wiki_revision.css" rel="stylesheet" type="text/css" />
{% endblock %}

    
{% block w_content %}

<div class="wikitext">

  <div id="w-title">{{wikiurl.replace("_", " ")}}</div>
  <div id="rev-meta">
    Revision as of {{revision.date.strftime("%x %X")}} by <a href="/{{revision.author.get().username}}">{{revision.author.get().username.capitalize()}}</a>
  </div>
  <div id="w-content">{{wikitext | md | safe}}</div>

</div>

{% endblock %}
