{% extends "wiki_base.html" %}


{% block w_head %}
  <link href="/css/wiki_history.css" rel="stylesheet" type="text/css" />
{% endblock %}

    
{% block w_content %}

  <div class="w-title">History of {{wikiurl.replace("_", " ").capitalize()}}</div>


{% for rev in revisions %}
  <div class="revision">
    <div class="rev-meta">
      <div class="rev-date">{{rev.date.strftime("%d-%b-%Y")}}</div>
      <div class="rev-author">Author: <a href="/{{rev.author.get().username}}">{{rev.author.get().username.capitalize()}}</a></div>
    </div>
    <div class="rev-summary">
      <a href="/{{p_author.username}}/{{project.key.integer_id()}}/wiki/history/{{wikiurl}}/rev/{{rev.key.id()}}">
	{% if rev.summary %}{{rev.summary}}{% else %}<em>No summary of changes</em>{% endif %}
      </a>
    </div>
  </div>
{% endfor %}

{% endblock %}
