{% extends "project_base.html" %}

{% block breadcrumbs %}
<li><a href="/{{project.key.integer_id()}}/wiki/page/Main_Page">Wiki</a></li>
<li class="active">{{wikiurl.replace("_", " ") | truncate(40, True)}}</li>
{% endblock %}

{% block p_content %}

<ul class="nav nav-tabs">
  <li class="pull-right{% if hist_p %} active{% endif %}"><a href="/{{project.key.integer_id()}}/wiki/history/{{wikiurl}}">History</a></li>
  <li class="pull-right{% if edit_p %} active{% endif %}{% if visitor_p %} disabled{% endif %}"><a href="/{{project.key.integer_id()}}/wiki/edit/{{wikiurl}}">Edit</a></li>
  <li class="pull-right{% if view_p %} active{% endif %}"><a href="/{{project.key.integer_id()}}/wiki/page/{{wikiurl}}">View</a></li>
</ul>

<div class="panel panel-default" style="border-top:0;border-top-left-radius:0;border-top-right-radius:0;">
  <div class="panel-body">
    <h1 style="border-bottom:1px solid #B0B0B0;">{{wikiurl.replace("_", " ")}}</h1>
    {% block w_content %}
    {% endblock %}
  </div>
</div>

{% endblock %}
