{% extends "writings_base.html" %}

    
{% block w_content %}

{% if user and project.user_is_author(user) %}
<form method="post" role="form">
  <div class="form-group">
    <textarea name="comment" class="form-control" rows="10" placeholder="Write a new comment here.">{{comment}}</textarea>
  </div>
  <div class="help-block">Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</div>
  <button type="submit" class="btn btn-success">Post comment</button>
  {% if error_message %}<p class="text-danger">{{error_message}}</p>{% endif %}
</form>
<hr />
{% endif %}

<div class="list-group" >
  {% for c in comments %}
  <div class="list-group-item">
    {{c.comment | md | safe}}
    <small class="text-muted pull-right">{{c.date.strftime("%d %b %Y")}}</small>
    <ul class="nav nav-pills">
      <li><a href="/{{c.author.get().username}}"><img src="{{c.author.get().get_profile_image(20)}}"/> {{c.author.get().username.capitalize()}}</a></li>
    </ul>
  </div>
  {% endfor %}
</div>

{% endblock %}
