{% extends "writings_base.html" %}


{% block w_head %}
  <link href="/css/writings_view.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
  </script>
{% endblock %}

    
{% block w_content %}

 <div class="w-content">
   {% if last_revision %}
     {{last_revision.content | md | safe}}
   {% else %}
     <p>This writing hasn't been started yet. Click <a href="/{{p_author.username}}/{{project.name}}/writings/{{writing.key().id()}}/edit">here</a> or the <em>Edit</em> tab to make the first draft.</p>
   {% endif %}
</div>



{% endblock %}
