{% extends "writings_base.html" %}


{% block w_head %}
  <link href="/css/writings_edit.css" rel="stylesheet" type="text/css" />
{% endblock %}

    
{% block w_content %}

  <form method="post">
    <textarea name="content">{{content}}</textarea>
    <div class="w-form-entry"><div class="w-form-label">Status:</div><input type="text" name="status" value="{{status}}" placeholder="Status of the writing (optional)" /></div>
    <div class="w-form-entry"><div class="w-form-label">Changes:</div><input type="text" name="summary" value="{{summary}}" placeholder="Summary of changes (optional)" /></div>
    
    <input type="submit"  class="bottom-buttons" value="Save changes" />
    <input type="button" value="Cancel" class="bottom-buttons" 
	   onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/{{p_author.username}}/{{project.name}}/writings/{{writing.key().id()}}'}" />
  </form>

<div class="error">{{error_message}}</div>

<div class="help">
  <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
</div>


{% endblock %}
