{% extends "writings_base.html" %}


{% block w_head %}
<script type="text/javascript" src="/js/showdown.js"></script>
<script type="text/javascript" src="/js/preview.js"></script>
{% endblock %}

    
{% block w_content %}

<form method="post" role="form">
  <div class="form-group {{cClass}}">
    <textarea name="content" id="inputText" class="form-control" rows="20" autofocus
	      {% if visitor_p %}disabled{% endif %}>{{content}}</textarea>
  </div>
  <div class="form-group {{sClass}}">
    <label for="stinput">Status:</label>
    <input id="stinput" type="text" name="status" value="{{status}}" class="form-control" placeholder="Status of the writing (optional)" {% if visitor_p %}disabled{% endif %}/>
  </div>
  <div class="form-group">
    <label for="chinput">Changes:</label>
    <input id="chinput" type="text" name="summary" value="{{summary}}" class="form-control" placeholder="Summary of changes (optional)" {% if visitor_p %}disabled{% endif %}/>
  </div>
  <button type="submit" class="btn btn-success"{% if visitor_p %}disabled{% endif %}>Save changes</button>
  <button onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/{{project.key.integer_id()}}/writings/{{writing.key.integer_id()}}'}"
	  type="button" class="btn btn-default">Cancel</button>
  {% if error_message %}<p class="text-danger">{{error_message}}</p>{% endif %}
  {% if visitor_p %}<p class="text-warning">{% if user %}You are not a member of this project{% else %}Please log in first{% endif %}</p>{% endif %}
  <div class="help-block">
    <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
  </div>
</form>

<p>Below is a preview of how the page will be renderer when you save it. It may not be 100&#37; accurate but it should be close.</p>
<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" class="btn btn-default" id="render-button" onCLick="Preview('inputText', 'previewArea');">
      Render preview
    </button>
  </div>
  <div class="panel-body" id="previewArea">
    Click the <em>Render preview</em> button to see a preview here.
  </div>
</div>


{% endblock %}
