{% extends "writings_base.html" %}


{% block w_content %}

<form method="post" role="form">
  <div class="form-group {{cClass}}">
    <textarea name="content" id="inputText" class="form-control" rows="20" onKeyUp="Preview('inputText','previewArea');" autofocus>{{content}}</textarea>
  </div>
  <div class="form-group">
    <label for="stinput">Status:</label>
    <input id="stinput" type="text" name="status" value="{{status}}" class="form-control" placeholder="Status of the writing (optional)"/>
  </div>
  <div class="form-group">
    <label for="chinput">Changes:</label>
    <input id="chinput" type="text" name="summary" value="{{summary}}" class="form-control" placeholder="Summary of changes (optional)"/>
  </div>
  <button type="submit" class="btn btn-success">Save changes</button>
  <button onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/{{project.key.integer_id()}}/writings/{{writing.key.integer_id()}}'}"
	  type="button" class="btn btn-default">Cancel</button>
</form>

<div class="checkbox">
  <label><input type="checkbox" onchange="toggleMonospace(this.checked, 'inputText');"/> Use monospace font while editing</label>
</div>

{% if error_message %}<div class="alert alert-danger" style="margin-top:10px;">{{error_message}}</div>{% endif %}
<div class="help-block">
  <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p>
</div>


<p>Below is a preview of how the page will be renderer when you save it.</p>
<div class="panel panel-default">
  <div class="panel-body" id="previewArea">
    <em>Start typing above to see a preview here.</em>
  </div>
</div>

<script type="text/javascript" src="/js/edit_utils.js"></script>
{% endblock %}
