{% extends "base.html" %}

{% block head %}
  <title>Research Engine | Collaborative writing</title>
  <link href="/css/writing.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
  <script type="text/javascript">
    tinyMCE.init({
    mode : "textareas",
    plugins : "equation,spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
    mode : "textareas",
    relative_urls : "false",
    document_base_url : "https://research-engine.appspot.com/",
    theme : "advanced",
    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
    theme_advanced_buttons2 : "equation,cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
    theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage,equation",
    theme_advanced_toolbar_location : "top",
    theme_advanced_toolbar_align : "left",
    theme_advanced_statusbar_location : "bottom"
    });
  </script>
{% endblock %}

{% block content %}

<h2>Collaborative writing</h2>

<div class="return-link">
  <a href="/projects/project/{{project_key}}">&larr; Return to your project's main page</a>
</div>

<div class="writing">
  <form method="post">
    <textarea name="content">{% if revisions %}{{revisions[0].content}}{% endif %}</textarea>
    <input type="text" name="summary" value="{{summary}}" placeholder="Summary of changes (optional)" />
    <input type="submit" class="bottom-buttons" value="Save changes" {{save_disabled}}/>
    <input type="reset"  class="bottom-buttons" value="Reset changes"
	   onClick="return confirm('Are you sure you want to reset all unsaved changes?')"/>
    {% if revisions %}
    <input type="button" class="bottom-buttons" value="View"
	   onClick="if (confirm('This will discard all unsaved changes.')) {window.location = '/projects/project/{{project_key}}/cwriting/view/{{revisions[0].key()}}'};" />
    {% endif %}
    <input type="button" class="bottom-buttons" value="Export (under construction)" disabled />
  </form>
</div>

<div class="error">{{error}}</div>
<div class="info">{{info}}</div>


<div class="edit-link">
  <a href="/projects/project/{{project_key}}/cwriting/edit/{{writing_key}}">Edit</a>
</div>
<br/><h2>Information</h2>

<div class="writing-details">

  <div class="dates">
    <div class="last-updated">Last updated: {{writing.last_updated.strftime("%d-%b-%Y")}}</div>
    <div class="created">Created: {{writing.created.strftime("%d-%b-%Y")}}</div>
  </div>

  <div class="writing-title">{{writing.title}}</div>
  <div class="writing-description">{{writing.description.replace("\n", "<br/>") | safe}}</div>

</div>

<br/><h2>Revisions</h2>

<div class="revisions">
  {% if revisions %}
    {% for revision in revisions %}
      <div class="revision">
	<div class="date">{{revision.date.strftime("%d-%b-%Y")}}</div>
	<div class="summary">Summary: <em>{{revision.summary}}</em></div>
	<div class="revision-link">
	  <a href="/projects/project/{{project_key}}/cwriting/view/{{revision.key()}}">View</a>
	</div>
	<div class="author">Changes made by: 
	  <a href="/{{revision.author.username}}">{{revision.author.username.capitalize()}}</a>
	</div>
      </div>
    {% endfor %}
  {% else %}
    <em>None</em>
  {% endif %}
</div>

{% endblock %}
