{% extends "writings_base.html" %}

{% block w_head %}
  <link href="/css/writings_discussion.css" rel="stylesheet" type="text/css" />
{% endblock %}

    
{% block w_content %}

<form method="post">
  <textarea name="comment" placeholder="Write a new comment here." {% if disabled_p %}disabled{% endif %}>{{comment}}</textarea>
  <div class="help">
    <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
  </div>
  <input type="submit" class="button1" value="Post comment" {% if disabled_p %}disabled{% endif %}/>
</form>

<div class="error">{{error_message}}</div>

<div class="comments-wrapper">
  {% for c in comments %}
  <div class="comment">
    <div class="c-meta">
      <span class="c-date">{{c.date.strftime("%d-%b-%Y")}}</span>
      <span class="c-author"><a href="/{{c.author.get().username}}">{{c.author.get().username.capitalize()}}</a> wrote:</span>
    </div>
    <div class="c-content">{{c.comment | md | safe}}</div>
  </div>
  {% endfor %}
</div>


{% endblock %}
