{% extends "writings_base.html" %}

{% block w_content %}
    <div class="list-group">
        {% for rev in revisions %}
            <a href="/{{project.key.integer_id()}}/writings/{{writing.key.integer_id()}}/rev/{{rev.key.integer_id()}}" class="list-group-item">
                {% if rev.summary %}
                    {{rev.summary}}
                {% else %}
                    <em>No summary of changes</em>
                {% endif %}
                <small class="text-muted pull-right">
                    By {{rev.author.get().username.capitalize()}}
                    on {{rev.date.strftime("%d %b %Y")}}
                    at {{rev.date.strftime("%X")}}
                </small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
