{% extends "writings_base.html" %}

{% block w_head %}
  <link href="/css/writings_discussion.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript">
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ], processEscapes: true }
    });
  </script>
{% endblock %}

    
{% block w_content %}

<form method="post">
  <textarea name="comment" placeholder="Write a new comment here.">{{comment}}</textarea>
  <div class="help">
    <p>Click <a href="/static/edit_help.html" target="_blank">here</a> to view some editing help (opens in a new window).</p> 
  </div>
  <input type="submit" value="Comment" />
</form>

<div class="error">{{error_message}}</div>

<div class="comments-wrapper">
  {% for c in comments %}
  <div class="comment">
    <div class="c-meta">
      <div class="c-date">{{c.date.strftime("%d-%b-%Y")}}</div>
      <div class="c-author">{{c.author.username.capitalize()}}</div>
    </div>
    <div class="c-content">{{c.comment | md | safe}}</div>
  </div>
  {% endfor %}
</div>


{% endblock %}
