{% extends "project_base.html" %}


{% block breadcrumbs %}<li class="active">Collaborative writings</li>{% endblock %}


{% block p_content %}


<div class="page-header" >
  <h2>Collaborative Writings
    {% if not visitor_p %}
    <a class="btn btn-success pull-right" href="/{{project.key.integer_id()}}/writings/new">
      <span class="glyphicon glyphicon-plus"></span> New writing</a>
    {% endif %}
  </h2>
</div>

<div class="panel-group" id="myaccordion">
  {% for i in items %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
	<a href="/{{project.key.integer_id()}}/writings/{{i.key.integer_id()}}">{{i.title | safe}}</a>
	<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#myaccordion" href="#{{i.key.integer_id()}}">
	  <span class="glyphicon glyphicon-info-sign"></span>
	</a>
      </h4>
    </div>
    <div class="panel-collapse collapse" id="{{i.key.integer_id()}}">
      <div class="panel-body">
	{{i.description | md | safe }}
	<p class="text-muted">Status: <em>{{i.status}}</em></p>
	<p class="text-muted pull-right">Last updated: {{i.last_updated.strftime("%d-%b-%Y")}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>    

{% endblock %}
