{% extends "base.html" %}

{% block head %}
  <title>Research Engine | New writing</title>
  <link href="/css/new_note.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<h2>New collaborative  writing</h2>

<form method="post">
  <input type="text" name="title" value="{{title}}" placeholder="Enter a title here." />
  <textarea name="description" 
	    placeholder="Enter a brief description of the purpose of the writing here.">{{description}}</textarea>
  <input type="submit" value="{{submit_button_text}}" class="bottom-buttons" />
  <input type="button" value="Cancel" class="bottom-buttons"
	 onClick="window.location = '/projects/project/{{project_key}}'" />
</form>


<br/><br/><br/><div class="error">{{error}}</div>

{% endblock %}
